<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-flex column align-left>
        <v-flex xs12 class="text-xs-left display-1" mt-5>
          <v-card>
            <v-card-text>
              <v-layout column align-left>
                <v-flex xs12 class="text-xs-left display-1" mt-5>
                  <h3>Lista Macchine</h3>
                  <v-divider dark ></v-divider>
                  <v-spacer></v-spacer>
                </v-flex>
                <v-text-field prepend-icon="search" @input="value => fetchDataFromApi(value)"></v-text-field>
              </v-layout>
            </v-card-text>
            <v-card-actions v-if="perm.add">
              <v-btn color="primary" to="createmachine" dark>Nuova macchina</v-btn>
            </v-card-actions>
          </v-card>
          <v-flex column align-left style="margin-top: 40px">
            <v-flex xs12 class="text-xs-left display-1" mt-5>
              <v-dialog v-model="dialogdelete" max-width="290">
                <v-card>
                  <v-card-title class="headline">Sei sicuro di voler cancellare la Macchina</v-card-title>
                  <v-card-text>Cancellando la macchina cancellerai anche tutti i dati associati ad essa.</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat="flat" @click.native="close('dialogdelete')">Cancella</v-btn>
                    <v-btn color="blue darken-1" flat="flat" @click.native="deleteConfirmed">Conferma</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-data-table
                :headers="headers"
                :items="items"
                :loading="loading"
                class="elevation-1"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                sort-icon="mdi-menu-down"
              >
                <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left id-table">{{ props.item.mac_id }}</td>
                  <td class="text-xs-left">{{ props.item.mac_nomemacch }}</td>
                  <td class="text-xs-left">{{ props.item.mac_tipomacchina }}</td>
                  <td class="text-xs-left">{{ props.item.mac_controllonumerico }}</td>
                  <td class="text-xs-left">{{ props.item.mac_soprannomemacch }}</td>
                  <td class="text-xs-left" v-if=" props.item.mac_reparto != null"  >{{ props.item.mac_reparto.rep_name }}</td>
                  <td class="text-xs-left" v-else  ></td>
                  <td class="text-xs-left">
                    <input type="checkbox" id="attivo" :disabled="!perm.change" @click="attiva(props.item.mac_id)" value=props.item.mac_id v-model="props.item.mac_attivo">
                    <!--input v-else type="checkbox" id="attivabile" value=props.item.mac_id @click="attiva(props.item.mac_id)" v-model="props.item.mac_attivo"-->
                  </td>
                  <td class="justify-center layout px-0">
                    <v-btn v-if="perm.view" icon class="mx-0" @click="editItem(props.item.mac_id)">
                      <v-icon color="teal">edit</v-icon>
                    </v-btn>
                    <v-btn v-if="perm.delete" icon class="mx-0" @click="deleteItem(props.item)">
                      <v-icon color="pink">delete</v-icon>
                    </v-btn>
                  </td>
                </template>
              </v-data-table>
            </v-flex>
          </v-flex>
        </v-flex>
      </v-flex>
    </v-slide-y-transition>
    <v-snackbar
      :color=color
      :timeout="6000"
      :multi-line="false"
      v-model=snackbar
    >
    {{message }}
    <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>

  import globalAxios from 'axios'
  import axios from 'axios'
  import store  from '../store'
  export default {
    name: 'about',
    beforeCreate: function(){
      //console.log(".........")
      this.loading = true
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
      //lettura permessi utente
      let bodyFormData = new FormData();
      bodyFormData.append('nomeModello', 'reparti');
      globalAxios.post('/ctrlPermessiStd/', bodyFormData)
        .then(res => {
          this.perm=res.data.perm;
          this.loading = false

        }).catch(error => { console.log(error) })

      globalAxios.get('/macchine_list/' ).then(res => {
            this.items = res.data
            this.loading = false
          }).catch(error=>{console.log(error)})

    },
    data() {
      return {
        dialog: false,
        dialogdelete:false,
        editedIndex: -1,
        headers: [
          { text: 'Id', value: 'mac_id' , class:'id-table' , align: 'left' },
          { text: 'Nome', value: 'mac_nomemacch' , align: 'left'  },
          { text: 'Tipo', value: 'mac_tipomacchina' , align: 'left' },
          { text: 'Controllo Num', value: 'mac_controllonumerico' , align: 'left'  },
          { text: 'Soprannome', value: 'mac_soprannomemacch' , align: 'left'  },
          { text: 'Reparto', value: 'mac_reparto' , align: 'left'  },
          { text: 'Attivo', value: '' , align: 'left' },
          { text: 'Scheda/Elimina', value: '', align: 'center' }
        ],
        loading:true,
        items:[],
        editedItem: {
          mac_id: -1,
          mac_nomemacch: '',
          mac_soprannomemacch: '',
          mac_ipadress: '',
          mac_controllonumerico: '',
          mac_reparto: 0,
          mac_attivo: 0
        },
        defaultItem: {
          mac_id: -1,
          mac_nomemacch: '',
          mac_soprannomemacch: '',
          mac_ipadress: '',
          mac_controllonumerico: '',
          mac_reparto: 0,
          mac_attivo: 0
        },
        perm: {
          view:false,
          change:false,
          add:false,
          delete:false
        },

        //snackbar
        snackbar:false,
        color:"error",
        message:""
      }
    },
    methods: {
      fetchDataFromApi(query) {
        // Use Axios or whatever you like to retrieve updated search results into items
        //axios.get(`api/search?q=${query}`)
        ///    .then(response => this.items = response);
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        let path = '/searchmacchine/'+query+'/'
        if(query=="")
          path = '/macchine_list/'
        globalAxios.all([
          globalAxios.get( path )
        ]).then( globalAxios.spread((res)=>{
          this.items = res.data
        })).catch(error=>{console.log(error)});
      },
      editItem (item) {
        this.$router.push("/machine/"+item)
      },

      deleteItem (item) {
        //const index = this.items.indexOf(item)
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogdelete = true
      },

      deleteConfirmed () {
        if (this.perm.delete) {
          globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
          globalAxios.delete("/macchina/" + this.editedItem.mac_id + "/", this.editedItem).then(res => {
            this.items.splice(this.editedIndex, 1)
            this.dialogdelete = false
            this.close("dialogdelete")
            this.snack("macchina eliminata con successo","info")
          }).catch(error => {
            console.log(error)
            this.snack("non è possibile cancellare la macchina","error")
            this.close("dialogdelete")
          })
        }
        else this.close("dialogdelete")
      },
      snack(messaggio, colore){
        this.message=messaggio;
        this.color=colore;
        this.snackbar=true;
      },
      close ( mydialog ) {
        this[mydialog] = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      attiva(id){
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        globalAxios.post('/changeactive/'+id+'/').then((res) => {
          let messaggio= "macchina "+(res.data.mac_attivo? "attivata": "disattivata")+ " correttamente"
          this.snack(messaggio ,"info")
        });
      },

      save () {
        if (perm.change) {
          let currentAPICall = ""
          if (this.editedItem.rep_id > -1) {
            //sono in editing
            currentAPICall = "/reparto/" + this.editedItem.rep_id + "/"
          }
          else {
            currentAPICall = "/reparti/"
          }
          globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
          globalAxios.post(currentAPICall, this.editedItem).then(res => {
            if (currentAPICall !== "/reparti/") {
              Object.assign(this.items[this.editedIndex], this.editedItem)
            } else {
              this.editedItem.rep_id = res.data.rep_id
              this.items.push(this.editedItem)
            }
            this.close("dialog")
          }).catch(error => {
            console.log(error)
            this.close("dialog")
          })
        }
        else {
          this.close("dialog")
        }
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuovo Reparto' : 'Modifica Reparto'
      }
    },
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
