<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-slide-y-transition mode="out-in">
        <v-flex column align-left>
          <v-flex xs12 class="text-xs-left display-1" mt-5>
            <v-card class="mb-5">
              <v-card-text>
                <v-layout column align-left>
                  <v-flex xs12 class="text-xs-left display-1" mt-5>
                    <h3>Lista Componenti</h3>
                    <v-divider dark ></v-divider>
                    <v-spacer></v-spacer>
                  </v-flex>
                  <v-text-field prepend-icon="search" @input="value => fetchDataFromApi(value)"></v-text-field>
                </v-layout>
              </v-card-text>
              <v-btn color="primary" @click.native="newitem" class="mb-2">Nuovo componente</v-btn>

              <v-dialog v-model="mydialog" max-width="500px">

                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="valid" ref="form" lazy-validation>
                      <v-layout row align-left>
                        <v-flex xs6 sm6 md6 class="px-1"  >
                          <v-text-field label="Nome" :rules="codiceruels" v-model="editedItem.com_nome"></v-text-field>
                        </v-flex>
                        <v-flex xs6 sm16 md6 class="px-1" >
                          <v-select
                            :items="chiavi"
                            class="input-group--focused"
                            item-value="key_id"
                            item-text="key_value"
                            label="Chiave"
                            v-model="editedItem.com_chiave"
                            v-if="bool_implemented"
                            @input="changeSelect($event)">
                          ></v-select>
                          <!---select-->
                          <v-text-field label="Chiave" v-else :rules="codiceruels" v-model="editedItem.com_chiave"></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row align-left>
                        <v-flex xs6  class="px-1"  >
                          <v-text-field label="Codice" :rules="codiceruels" v-model="editedItem.com_codice"></v-text-field>
                        </v-flex>
                        <v-flex xs6  class="px-1" >
                          <v-text-field  label="Vita" :rules="misurarules" v-model="editedItem.com_vita"></v-text-field>
                        </v-flex>
                        <!--v-flex xs4 sm14 md4 class="px-1" >
                          <v-select
                            v-bind:items="itemsunit"
                            v-model="editedItem.com_unita"
                            :rules="unitarules"
                            label="Unità di misura"
                            single-line
                            bottom
                          ></v-select>
                        </v-flex-->
                      </v-layout>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="close()">Cancella</v-btn>
                    <v-btn color="blue darken-1" :disabled="!valid" flat @click.native="save">Salva</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogdelete" max-width="290">
                <v-card>
                  <v-card-title class="headline">Sei sicuro di voler cancellare il Componente</v-card-title>
                  <v-card-text>Cancellando il componente cancellerai anche tutte le statistiche associate ad esso.</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat="flat" @click.native="closeDelete('dialogdelete')">Cancella</v-btn>
                    <v-btn color="blue darken-1" flat="flat" @click.native="deleteConfirmed">Conferma</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card>
            <v-card class="mt-2" >
              <v-card-text>
                <v-container fluid grid-list-md>
                  <v-data-iterator
                    content-tag="v-layout"
                    row
                    wrap
                    :items="items"
                    :rows-per-page-items="rowsPerPageItems"
                    :pagination.sync="pagination"
                  >
                    <v-flex
                      slot="item"
                      slot-scope="props"
                      xs12
                      sm6
                      md4
                      lg3
                    >
                      <v-card>
                        <v-card-title><h4>{{ props.item.com_nome }}</h4></v-card-title>
                        <v-divider></v-divider>
                        <v-list dense>
                          <v-list-tile>
                            <v-list-tile-content>Chiave:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ props.item.com_chiave }}</v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile>
                            <v-list-tile-content>Vita:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ props.item.com_vita }}</v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile>
                            <v-list-tile-content>Codice:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ props.item.com_codice }}</v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile>
                            <v-list-tile-content>Unità:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ props.item.com_unita }}</v-list-tile-content>
                          </v-list-tile>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="deleteItem(props.item)">Rimuovi</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="editItem(props.item)">Modifica</v-btn>
                          </v-card-actions>
                        </v-list>
                      </v-card>
                    </v-flex>
                  </v-data-iterator>
                </v-container>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-flex>
      </v-slide-y-transition>
    </v-slide-y-transition>
    <v-snackbar
        :color=color
        :timeout="6000"
        :multi-line="false"
        v-model=snackbar
      >
      {{message }}
      <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
    </v-snackbar>
  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<script>
  import globalAxios from 'axios'
  import store  from '../store'
  export default {
    name: 'about',
    beforeCreate: function(){
      let vm=this;
      this.loading = true
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
      globalAxios.get('/components/' ).then(res => {
        this.loading = false
        this.items = res.data
      }).catch(error=>{console.log(error)})
      globalAxios.get('/mankey/').then(res=> {
        vm.chiavi=res.data
      }).catch(error=>{console.log(error)})

    },
    data() {
      return {
        bool_implemented:true,
        editedIndex:-1,
        valid:false,
        e11: null,
        items:[],
        pagination: {
          rowsPerPage: 4
        },
        key_selected:null,
        mankey:null,
        dialog:false,
        rowsPerPageItems: [4, 8, 12],
        mydialog: false,
        itemsunit:[
          'Km',
          'Metri',
          'Gradi',
          'Gradi Cent',
          'Ore'
        ],
        chiavi:[],
        dialogdelete: false,
        editedItem: {
          com_id: -1,
          com_nome: '',
          com_chiave: "",
          com_codice: "",
          com_vita:"",
          com_unita:""
        },
        codiceruels: [
          v => !!v || 'Value is required',
          v => (v && v.length <= 10) || 'Value must be less than 10 characters'
        ],
        misurarules:[
          v => !!v || 'Value is required',
          v => /^\d+$/.test(v) || 'Value must be a Number',
          v => (v && v.length <= 10) || 'Value must be less than 10 characters'
        ],
        unitarules:[
          v => !!v || 'Value is required',
        ],
        //snackbar
        snackbar:false,
        color:"error",
        message:""
      }
    },
    methods: {
      changeSelect(event){
        this.key_selected=event
        this.editedItem.com_chiave=event
      },
      getkeybyname(name){
        for(let i=0; i<this.chiavi.length; i++){
          if(this.chiavi[i].key_value===name){
            return this.chiavi[i]
          }
        }
        return null
      },
      snack(messaggio, colore){
        this.message=messaggio;
        this.color=colore;
        this.snackbar=true;
      },
      reloadComponent(){
        this.loading = true
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        globalAxios.get('/components/' ).then(res => {
          this.loading = false
          this.items = res.data
        }).catch(error=>{console.log(error)})
      },
      fetchDataFromApi(query) {
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        let path = '/searchcomponents/'+query+'/'
        if(query=="")
          path = '/components/'
        globalAxios.all([
          globalAxios.get( path )
        ]).then( globalAxios.spread((res)=>{
          this.items = res.data
        })).catch(error=>{console.log(error)});
      },
      newitem(){
        this.editedItem =  {
          com_id:-1,
          com_nome:'',
          com_chiave:"",
          com_codice:"",
          com_vita:"",
          com_unita:""
        }
        this.editedIndex = -1
        this.$refs.form.reset();
        this.mydialog = true
      },
      editItem (item) {
        //this.editedIndex = item.rep_id
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.editedItem.com_vita= this.editedItem.com_vita.trim()
        this.editedItem.com_unita =  item.com_unita
        this.editedItem.com_chiave = this.getkeybyname(item.com_chiave)
        /*if(this.bool_implemented&&this.key_selected){
          this.editedItem.com_chiave = key_selected.key_value
        }*/
        this.mydialog = true
      },
      deleteItem (item) {
        //const index = this.items.indexOf(item)
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogdelete = true
      },
      deleteConfirmed () {
        globalAxios.delete("/component/"+this.editedItem.com_id+"/", this.editedItem).then(res => {
          this.items.splice(this.editedIndex, 1)
          this.cleanData()
          this.dialogdelete = false
          this.snack("componente eliminato correttamente", "info")
        }).catch(error=>{
          this.dialogdelete = false
          this.snack("impiossibile eliminare il componente", "error")
          this.cleanData()
        })
      },
      close() {
        this.mydialog = false
        this.cleanData()
      },
      closeDelete() {
        this.dialogdelete = false
      },
      cleanData(){
        this.$refs.form.reset()
      },
      querySelections (v) {
        this.loadingselect = true
        // Simulated ajax query
        globalAxios.get("/groupsearch/"+v+"/").then(res => {
          this.loadingselect = false
          this.groupsS = res.data
        }).catch(error=>{
          console.log(error)
        })
      },
      save () {
        if(this.$refs.form.validate()){
          let currentAPICall = ""
          //console.log(this.editedItem.com_unita+"--->aahshdhAHAHA" )
          if(this.editedItem.com_id > -1){
            currentAPICall = "/component/"+this.editedItem.com_id+"/"
          }
          else{
            currentAPICall = "/components/"
          }
          let vm=this;
          globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
          globalAxios.post(currentAPICall, vm.editedItem).then(res => {
            if (currentAPICall !== "/components/" ) {
              Object.assign(vm.items[vm.editedIndex], res.data)
            } else {
              vm.editedItem.com_id =  res.data.com_id
              vm.items.push(res.data)
            }
            this.close()
            let messaggio = "componente " +(this.editedIndex> -1?"modificato":"creato")+" con successo";
            this.snack(messaggio,"info")
            this.cleanData()
            this.$refs.form.reset()
            this.editedIndex = -1
          }).catch(error=>{
            console.log(error)
            let messaggio = "impossibile " +(this.editedIndex > -1?"modificare":"creare")+" il componente"
            this.snack(messaggio,"error")
            this.close()
            this.cleanData()
          })
        }

      }
    },
    watch:{
      search (val) {
        if (val){
          console.log(val)
          val && this.querySelections(val)
        }
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuovo Componente' : 'Modifica Componente'
      }
    },
  }
</script>
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
