<template>
  <v-container fluid>
      <EditMachine :myid="myfakeid" ></EditMachine>
  </v-container>
</template>
<script>
  import EditMachine from './ultracomponent/EditMachine.vue'
  export default {
    name: 'createmachine',
    components: { EditMachine },
     data:function() {
      return { myfakeid:undefined }
    },
  }
</script>
