<template>
  <v-slide-y-transition mode="out-in">
    <v-container fluid>
      <!-- reparti-->
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex class="pagebox px-2"  v-for="(item, index) in reparti" xs12   >
            <v-card class="mt-2" >
              <v-container fluid grid-list-lg >
                <v-layout row>
                  <v-flex sm12 class="mb-2" >
                    <h3 style="text-align:left; text-transform: uppercase;">{{ item.rep_id.split(";")[1] }}</h3>
                  </v-flex>
                </v-layout>
                <v-data-table
                  v-bind:headers="headers"
                  :items="item.machine"
                  :loading="loading"
                  v-model="reparti"
                  class="elevation-1"
                  prev-icon="mdi-menu-left"
                  next-icon="mdi-menu-right"
                  sort-icon="mdi-menu-down"
                >
                  <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left id-table">{{ props.item.mac_id }}</td>
                    <td class="text-xs-left">{{ props.item.mac_nomemacch }}</td>
                    <td class="text-xs-left">{{ props.item.interf.int_commessa }}</td>
                    <td class="text-xs-left">{{ props.item.interf.prod_efficienza }}</td>
                    <td class="text-xs-left">{{ props.item.interf.int_pezzifatti  }}</td>
                    <td class="text-xs-left">
                      <bars
                        :data="[1, 2, 3]"
                        :gradient="chooseColor(props.item.interf.int_totem)"
                        :width="50" :height="30"
                      >
                      </bars></td>
                    <td class="text-xs-left">{{ props.item.interf.int_programmaattivo }}</td>
                    <td class="text-xs-left">
                      <v-btn icon class="mx-0" @click="productionItem(props.item.mac_id)">
                        <img v-if="props.item.mac_tipomacchina=='Fresa'" src="../assets/Fresa.png" class="immagine" onclick="productionItem(props.item.mac_id)"/>
                        <img v-else-if="props.item.mac_tipomacchina=='Robot'" src="../assets/Robot.png" class="immagine" onclick="productionItem(props.item.mac_id)"/>
                        <img v-else-if="props.item.mac_tipomacchina=='Tornio'" src="../assets/Tornio.png" class="immagine" onclick="productionItem(props.item.mac_id)"/>
                        <v-icon v-else color="teal">assignment</v-icon>
                      </v-btn>
                    </td>
                    <td class="text-xs-left">
                      <v-progress-circular v-if="connecting[props.item.mac_id]" indeterminate color="blue"></v-progress-circular>
                      <v-btn icon class="mx-0" @click="editItem(props.item)" v-else>
                        <v-icon color="teal">queue</v-icon>
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <!-- dialog upload -->
      <v-dialog v-model="mydialog" max-width="700px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container fluid>
              <v-layout row wrap class="pa-2" >
                <v-flex sm12>
                  PATH dove caricare il file <i>( seleziona con il tasto destro la cartella )</i>
                  <h3 style="background-color: #c5cae9;padding:5px;margin-bottom: 10px;" >
                    {{ pathToUpload }}&nbsp;
                  </h3>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex sm6 class="pr-2" style="overflow-y: auto; max-height: 450px">
                  <my-tree-component class="item"  @doubleclick="doubleclick(...arguments)" @toggle="toggle(...arguments)" @rightclick="rightclick(...arguments)" v-bind:model="demodata"></my-tree-component>
                </v-flex>
                <v-flex sm6>
                  <vue-dropzone v-if="upload" ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="uploaded" ></vue-dropzone>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-if="downl" color="blue darken-1" flat @click.native="download()">Download</v-btn>
            <v-btn color="blue darken-1" flat @click.native="close()">Annulla</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-snackbar
        :color="color"
        :timeout="timeout"
        :multi-line="multiLine"
        v-model="snackbar"
      >
        {{ error }}
        <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
      </v-snackbar>
    </v-container>
  </v-slide-y-transition>
</template>

<script>
  import axios from 'axios'
  var _ = require('lodash');
  import globalAxios from 'axios'
  import store  from '../store'
  import MyTreeComponent from './ultracomponent/MyTreeComponent.vue'
  import vue2Dropzone from 'vue2-dropzone'

  export default {
    name: 'home',
    beforeCreate: function(){
      //console.log(".........")
      this.loading = true
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
      globalAxios.get('/macchine/' ).then(res => {
        this.loading = false
        //Object.assign(this.reparti, _(res.data).groupBy( x => x.mac_reparto.rep_id+";"+x.mac_reparto.rep_name ).map((value, key) => ({rep_id: key, machine: value})).value())
        this.reparti  = _(res.data).groupBy( x => x.mac_reparto.rep_id+";"+x.mac_reparto.rep_name ).map((value, key) => ({rep_id: key, machine: value})).value();
        //add a field foreach machine for the loading
        this.reparti.forEach(reparto=>{
          reparto.machine.forEach(macchina=>{
            this.connecting[macchina.mac_id]= false;
          });
        });
        //console.log("YO", this.reparti)
        //console.log(_(res.data).groupBy( x => x.mac_reparto.rep_id ).map((value, key) => ({rep_id: key, machine: value})).value())
        var vm= this
        this.myinterval = setInterval(function(){
          globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
          globalAxios.get('/macchine/' ).then(res => {
            vm.reparti=_(res.data).groupBy( x => x.mac_reparto.rep_id+";"+x.mac_reparto.rep_name ).map((value, key) => ({rep_id: key, machine: value})).value()
            //console.log("YOINTERVAL ", vm.reparti)
          }).catch(error=>{console.log(error)})
        }, 15000);
      }).catch(error=>{console.log(error)})
    },
    beforeRouteLeave(to, from, next) {
      clearInterval(this.myinterval)
      next()
    },
    components: {
      MyTreeComponent,
      vueDropzone: vue2Dropzone,
    },

    data () {
      return {
        loading: false,
        multiLine: false,
        timeout:6000,
        connecting:{},
        machineworking:{'id':-1, 'tipo':""},
        count:0,
        pathToUpload:"",
        myinterval:null,
        headers: [
          { text: 'Id', value: 'mac_id' , class:'id-table' , align: 'left' },
          { text: 'Nome', value: 'mac_nomemacch' , align: 'left'  },
          { text: 'Commessa', value: 'int_commessa' , align: 'left' },
          { text: 'Efficienza', value: 'interf.int_utensileattivo' , align: 'left'  },
          { text: 'Pezzi fatti', value: 'interf.int_pezzifatti' ,  align: 'left'  },
          { text: 'Status', value: 'interf.int_totem' , align: 'left'  },
          { text: 'Programma', value: 'interf.int_programmaattivo' , align: 'left'  },
          { text: 'Produzione', value:"distancerx",  align: 'left'  },
          { text: 'Programmi', value:"distancer", align: 'left'  },
        ],
        reparti:[],
        formTitle:"CARICA IL FILE NELLA CARTELLA",
        mydialog:false,
        demodata : {},
        errorConnection : false,
        icon:"",
        //snackbar
        snackbar:false,
        error: "",
        color:"error",

        //file
        filename:"",
        downl:false,
        upload:false,
        downloaded:false
      }
    },
    computed:{
      dropzoneOptions:function(){
        return {
          url:'http://'+location.host.split(':')[0]+':8000/smb-upload/',
          thumbnailWidth: 150,
          maxFilesize: 1.5,
          method: 'put',
          maxFiles: 1,
          addRemoveLinks: true,
          dictDefaultMessage: "<i aria-hidden=\"true\" class=\"material-icons icon\">backup</i>&nbsp;UPLOAD FILE",
          headers: {"Authorization": 'JWT ' + store.getters.getMyToken}
        }
      }
    },
    methods: {
      chooseColor(totem){
        let gradient=null;
        switch (totem){
          case "rosso":{
            gradient = ['#fd1111','#ad1111'];
            break;
          }
          case "giallo":{
            gradient = ['#FFFF2F', '#FFBB11'];
            break;
          }
          case "verde":{
            gradient = ['#11dd11','#116411'];
            break;
          }
          case "blu":{
            gradient = ['#1155dd','#1111dd'];
            break;
          }
          case "viola":{
            gradient = ['#dd11dd','#8511ef'];
            break;
          }
          case "grigio":{
            gradient = ['#707070', '#444444'];
            break;
          }
          default:{
            gradient = ['#a0a0a0', '#a0a0c0'];
            break;
          }
        }
        return gradient;
      },
      sendingEvent (file, xhr, formData) {
        formData.append("dirtoupload", encodeURI(this.pathToUpload));
        formData.append("idmachine", encodeURI(this.machineworking.id));
      },
      addfile_rec(file, path, folder){
        console.log(path);
        if(path.length===0){
          folder.children.push(file);
          //console.log(folder);
          return true;
        }
        let vm=this;
        folder.children.forEach( function(sub_fol){
          //console.log("current folder: "+sub_fol.name);
          if (sub_fol.name===path[0]){
            let sub_path=path.slice(1);
            //console.log("subpath: "+sub_path);
            return(vm.addfile_rec(file, sub_path, sub_fol));
          }
          return false;
        })
        console.log("foreach terminato")
      },
      addfile(name, path) {
        var file = {
          'name': name,
          'color': '#FFFFFF',
          'tag': 'org',
          'key': path + name,
          'type': 'file',
          'icon'	:	'description'

        };
        console.log("path:"+ path);
        let path_arr = path.split('/');
        if(this.machineworking.tipo==="Fanuc") path_arr=path_arr.slice(3,path_arr.length-2);
        else path_arr=path_arr.slice(1);
        this.addfile_rec(file, path_arr, this.demodata)
      },
      uploaded (file, response) {
        console.log(response)
        let data = JSON.parse(response);
        if(data.status === "ok") {
          this.addfile(file.name, this.pathToUpload);
          this.$refs.myVueDropzone.removeAllFiles();
          this.error = "File caricato con successo";
          this.color = "info";
          this.snackbar = true
        }
        else {
          this.error = data.error
          this.snackbar = true
        }
      },
      download(){
        if(this.machineworking.id !== -1) {
          this.connecting[this.machineworking]=true;
          globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken;
          globalAxios.get('/download/?path='+this.pathToUpload+'&name='+this.filename+'&myidmacchina='+this.machineworking.id).then(res => {
          try{
            var fileDownload = require('js-file-download');
            fileDownload(res.data['file'], res.data['name']);
            this.mydialog = false;
            this.error = "File scaricato con successo";
            this.color = "info";
            this.snackbar = true;
            this.connecting[this.machineworking.id]=false;
          }
          catch(ex)
          {
            console.log(ex)
            this.mydialog = false
            this.error = "Impossibile scaricare il file"
            this.color = "error"
            this.snackbar = true
            this.connecting[this.machineworking.id]=false;
          }
          }).catch(error => {
            this.mydialog = false
            this.error= error.response.data.message
            this.color = "error";
            this.snackbar = true;
            this.connecting[itemToedit.mac_id]= false;
            this.loading=false;
          })
        }
        else {
          this.color = "error"
          this.error = "Non sincronizzato alla macchina, riprova"
          this.snackbar = true;
          this.connecting[this.machineworking.id]=false;
        }
      },
      test(){
      },
      toggle(e, key){
        return 1;
      },
      doubleclick(e, key){
        return 1;
      },

      //solo il rightclick passa tutto l'oggetto cartella/file
      rightclick(e, key){
        if (typeof key=='object')
        {
          //you can't select a file unless it has no extension
          switch (key.type) {
            case 'file': {
              this.pathToUpload = key.key;
              this.filename = key.name;
              this.downl = true;
              this.upload = false;
              break
            }
            case 'folder': {
              this.pathToUpload = key.key;
              this.downl = false;
              this.upload = true;
              break
            }
            default: {
              this.pathToUpload = key.key;
              this.downl = false;
              this.upload = false;
              break
            }
          }
          console.log(key.key);
          this.colorAll(this.demodata, "transparent");
          this.findMyElementKey(this.demodata, key.key,"#e3e3e3")
        }
        else{
          console.log("solo il rightclick passa tutto l'oggetto cartella/file")
        }
      },
      openDeatail(myId){
        this.$router.push("/machine/"+myId)
      },
      getRandom () {
        // this.randomNumber = this.getRandomInt(1, 100)
        this.message = this.getRandomFromBackend()
      },
      close(){
        this.mydialog = false
        this.demodata ={};
        this.machineworking.id = -1;
        this.machineworking.tipo ="";
        this.pathToUpload=""
        this.downl=false
        this.upload=false
        this.color = "error"
      },
      reloadPath(){
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        if(this.machineworking.id != -1) {
          globalAxios.get('/smb-connection/?idmacchina='+this.machineworking.id ).then(res => {
            if (res.status === 200) {
              this.demodata = res.data
            }
            else {
              this.error = "Can't connect to machine, please check your machine configuration.";
              this.color = "error";
              this.snackbar = true
            }
          }).catch(error => {
            console.log(error)
          })
        }
      },
      editItem(itemToedit){
        //this.loading=true;
        this.connecting[itemToedit.mac_id]= true;
        this.machineworking.id = itemToedit.mac_id;
        this.machineworking.tipo = itemToedit.mac_controllonumerico;

        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken;
        globalAxios.get('/smb-connection/?idmacchina='+this.machineworking.id ).then(res => {
          this.demodata = res.data;
          this.mydialog = true;
          this.connecting[itemToedit.mac_id]= false;
          this.loading=false;
          //console.log(_(res.data).groupBy( x => x.mac_reparto.rep_id ).map((value, key) => ({rep_id: key, machine: value})).value())
        }).catch(error=>{
          this.error= error.response.data.message
          this.color = "error";
          this.snackbar = true;
          this.connecting[itemToedit.mac_id]= false;
          this.loading=false;
        })
      },
      productionItem(id){
        this.$router.push("/produzionemachine/"+id)
      },
      findMyElementKey(items,id, color) {
        this.count = this.count +1
        //console.log (this.count )
        //console.log( id)
        var i = 0;
        if(_.isArray(items)) {
          for (i = 0; i < items.length; i++) {
            if (items[i].key === id) {
              items[i].color = color
            } else if (_.isArray(items[i].children)) {
              this.findMyElementKey(items[i].children, id, color);
            }
          }
        }
        else{
          if(items.key === id){
            items.color = color
          }
          else{
            this.findMyElementKey(items.children,id,color)
          }
        }
      },
      colorAll(items, color) {
        var i = 0;
        if(_.isArray(items)) {
          for (i = 0; i < items.length; i++) {
            items[i].color = color
            if (_.isArray(items[i].children)) {
              this.colorAll(items[i].children, color);
            }
          }
        }
        else{
          items.color = color
          if (_.isArray(items.children)) {
            this.colorAll(items.children,color)
          }
        }
      }
    }
  }
</script>

<style scoped>
  .immagine {
    width:100%;
    height: auto;
  }

</style>
