produzione-commessa<template>
  <v-slide-y-transition mode="out-in">
    <v-flex class="pagebox px-2 mb-5" xs12 sm12 >
      <v-card>
        <v-container class="pt-5" fluid grid-list-lg sm6>
          <!-- dialog delete -->
          <v-dialog v-model="dialogdelete" max-width="290">
            <v-card>
              <v-card-title class="headline">Sei sicuro di voler annullare la commessa?</v-card-title>
              <v-card-text> Annullando non verra' più eseguita la commessa.</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat="flat" @click.native="dialogdelete = false">Cancella</v-btn>
                <v-btn color="blue darken-1" flat="flat" @click.native="confirmDeleteJob">Conferma</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!--header -->
          <v-layout  row wrap>
            <v-flex sm12 xs12>
              <v-card>
                <v-card-media :src="macchinacorrente.imagepath" height="200px" >
                  <v-container fill-height fluid style="padding-right: 0px; padding-top: 0px">
                    <v-layout fill-height>
                      <v-flex xs10 align-end flexbox>
                        <span style="color:white;line-height: 290px !important;font-size:36px !important;" class="headline" >{{ macchinacorrente.nomemacchina }}</span>
                      </v-flex>
                      <v-flex align-end class="img_bar" flexbox>
                        <div align="right" style="padding: 10px">
                          <bars
                            :data=[1,2,4]
                            :gradient=chooseColor(macchinacorrente.totem)
                            :width="60" :height="168"
                          ></bars>
                        </div>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-media>
                <v-card-text>
                  <v-layout  row wrap>
                    <v-flex xs12 class="text-xs-left" mt-2>
                      <v-layout  row wrap >
                        <v-flex sm4  class="text-xs-left  pa-2">PROGRAMMA ATTIVO<v-divider></v-divider><b>{{ macchinacorrente.programmaAttivo }}</b></v-flex>
                        <v-flex sm4 class="text-xs-left pa-2" mt-2>PEZZI<v-divider></v-divider><b>{{ lavoroincorso == "N.d" ? lavoroincorso : macchinacorrente.pezziFatti +"/"+ lavoroincorso.cprod_lotto }}</b></v-flex>
                        <v-flex sm4 class="text-xs-left pa-2" mt-2>STATUS<v-divider></v-divider><b>{{ macchinacorrente.status }}</b></v-flex>
                        <v-flex sm4  class="text-xs-left pa-2" mt-2>UTENSILE ATTIVO<v-divider></v-divider><b>{{ macchinacorrente.utensileAttivo }}</b></v-flex>
                        <v-flex sm4  class="text-xs-left pa-2" mt-2>COMMESSA ATTIVA<v-divider></v-divider><b>{{ lavoroincorso == "N.d" ? lavoroincorso : lavoroincorso.cprod_commessa }}</b></v-flex>
                        <v-flex sm2 class="text-xs-left  pa-2">FEED ASSI <v-divider></v-divider><b>{{ macchinacorrente.feedAssi }}</b></v-flex>
                        <v-flex sm2 class="text-xs-left  pa-2">FEED MANDRINO<v-divider></v-divider><b>{{ macchinacorrente.feedMandrino }}</b></v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          <!--fine header-->
        </v-container>
        <v-container class="pt-2" fluid grid-list-lg sm6>
          <v-layout  row wrap>
            <!--nuovo lavoro>
            <--v-flex-- class="pagebox px-2 mb-5" xs12 md4 >
              <v-card>
                <v-container fluid grid-list-lg>
                  <v-card-text>
                    <v-form v-model="valid" ref="form" lazy-validation>
                      <v-layout row wrap>
                        <v-flex xs12 class="text-xs-left display-1">
                          <h5 class="display-1" >ASSEGNA COMMESSA</h5>
                          <v-divider></v-divider>
                        </v-flex>
                        <v-flex xs12 sm12>
                          <v-text-field
                            label="Commessa"
                            v-model="commessa"
                            :rules="commessa_val"
                            :counter="50"
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <v-text-field
                            label="Lotto"
                            :rules="lotto_val"
                            v-model="lotto"
                            :counter="10"
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <v-text-field
                            label="Priorità"
                            v-model="priorita"
                            :rules="[v => v>0 || 'Priorità maggiore di 0']"
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn @click="submitJob" :disabled="!valid">submit</v-btn>
                    <v-btn @click="clearAllData" >clear</v-btn>
                  </v-card-actions>
                </v-container>
              </v-card>
            </v-flex-->
            <v-flex class="pagebox px-2 mb-5" xs12 >
              <v-layout  row wrap>
                <!--allarmi attivi-->
                <v-flex class="pagebox px-2 mb-5" xs12 >
                  <v-card >
                    <v-container fluid grid-list-lg>
                      <v-layout row>
                        <v-flex sm12>
                          <h5 class="display-1 my-2" style="text-align:left; text-transform: uppercase;" >ALLARMI ATTIVI</h5>
                        </v-flex>
                      </v-layout>
                      <v-data-table
                        v-bind:headers="headersAllarmi"
                        :items="attivi"
                        class="elevation-1"
                      >
                        <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                        <template slot="items" slot-scope="props">
                          <td class="text-xs-left id-table">{{ props.item.all_id }}</td>
                          <td class="text-xs-left">{{ props.item.all_date }}</td>
                          <td class="text-xs-left">{{ props.item.all_numeroallarme }}</td>
                          <td class="text-xs-left">{{ props.item.all_messaggioallarme }}</td>
                          <td class="text-xs-left">{{ props.item.all_numerowarning }}</td>
                          <td class="text-xs-left">{{ props.item.all_messaggiowarning }}</td>
                          <td class="text-xs-left">{{ getYupDate( props.item.all_data ) }}</td>
                        </template>
                        <template slot="no-data">
                          <v-alert :value="true" color="success" icon="thumb_up">
                            La macchina non presenta errori
                          </v-alert>
                        </template>
                      </v-data-table>
                    </v-container>
                  </v-card>
                </v-flex>
                <!--lavori attivi-->
                <v-flex class="pagebox px-2 mb-5" xs12>
                  <v-card>
                    <v-container fluid grid-list-lg>
                      <v-layout row>
                        <v-flex sm12>
                          <h5 class="display-1 my-2" style="text-align:left; text-transform: uppercase;" >COMMESSE IN CODA</h5>
                        </v-flex>
                      </v-layout>
                      <v-data-table
                        v-bind:headers="headersWorkOn"
                        :items="inputInWorking"
                        :loading="loading"
                        class="elevation-1">
                        <!--ref="sortableTable hide-actions"-->

                        <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                        <template slot="items" slot-scope="props">
                          <tr :key="itemKeyy(props.item)" > <!--class="sortableRow" NOTE:  You'll need a unique ID, that is specific to the given item, for the key.   Not providing a unique key that's bound to the item object will break drag and drop sorting.  The itemKey method will return a uid for a given object using WeakMap.  You could just use a property in the object with a unique value, like "props.item.name" in this case, but often getting a unique value from the object's properties can be difficult, like when adding new rows, or when the unique field is open to editing, etc. -->
                            <td class="px-1" style="width: 0.1%">
                              <v-btn style="cursor: move" v-if=" props.item.cprod_id==lavoroincorso.cprod_id && lavoroincorso=='N.d' && props.item.cprod_id!=lavoroincorso.cprod_id" icon class="sortHandle"><v-icon>drag_handle</v-icon></v-btn>
                            </td>
                            <td class="text-xs-left id-table">{{ props.item.in_id }}</td>
                            <td class="text-xs-left">{{ props.item.cprod_commessa }}</td>
                            <td class="text-xs-left">{{ getYupDate(props.item.in_data) }}</td>
                            <td class="text-xs-left">{{ props.item.cprod_pezzifatti+"/"+props.item.cprod_lotto }}</td>
                            <td class="text-xs-left">{{ props.item.in_priorita }}</td>
                            <td class="text-xs-left">{{ props.item.cprod_status }}</td>

                            <td class="justify-center">
                              <v-btn icon class="mx-0" v-if="lavoroincorso=='N.d'  || props.item.cprod_id!=lavoroincorso.cprod_id" @click="deleteJob(props.item.in_id)">
                                <v-icon color="pink">delete</v-icon>
                              </v-btn>
                            </td>
                          </tr>
                        </template>
                      </v-data-table>
                    </v-container>
                  </v-card>
                </v-flex>
                <!--lavori completati -->
                <v-flex class="pagebox px-2 mb-5" xs12 >
                  <v-card>
                    <v-container fluid grid-list-lg>
                      <v-layout row>
                        <v-flex sm12>
                          <h5 class="display-1 my-2" style="text-align:left; text-transform: uppercase;" >COMMESSE COMPLETATE</h5>
                        </v-flex>
                      </v-layout>
                      <v-data-table
                        v-bind:headers="headercompleted"
                        :items="inputCompleted"
                        class="elevation-1"
                      >
                        <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                        <template slot="items" slot-scope="props">
                          <td class="text-xs-left id-table">{{ props.item.out_id }}</td>
                          <td class="text-xs-left">{{ props.item.mac.cprod_commessa }}</td>
                          <td class="text-xs-left">{{ props.item.mac.cprod_articolo }}</td>
                          <td class="text-xs-left">{{ props.item.mac.cprod_fase }}</td>
                          <td class="text-xs-left">{{ props.item.mac.cprod_lotto }}</td>
                          <td class="text-xs-left">{{ props.item.time.lavoro }}</td>
                          <td class="text-xs-left">{{ props.item.time.setup }}</td>
                          <td class="text-xs-left">{{ props.item.time.pausa }}</td>
                          <td class="text-xs-center">
                            <v-layout row wrap justify-center align-center>
                              <span >{{props.item.out_efficienza}}</span>
                              <bars
                                :data=calcolaBar(props.item.out_efficienza)
                                :gradient=barColor(props.item.out_efficienza)
                                :barWidth="6"
                                :width="calcolaAlt(props.item.out_efficienza)+5" :height="calcolaAlt(props.item.out_efficienza)"
                              >
                              </bars>
                            </v-layout>
                          </td>
                          <td class="text-xs-left">{{ getYupDate( props.item.out_data ) }}</td>

                        </template>
                      </v-data-table>
                    </v-container>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <v-snackbar
        :color=color
        :timeout="6000"
        :multi-line="false"
        v-model=snackbar
      >
      {{message }}
      <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
      </v-snackbar>
    </v-flex>
  </v-slide-y-transition>
</template>

<script>
  import axios from 'axios'
  var _ = require('lodash');
  import globalAxios from 'axios'
  import store  from '../store'
  import * as moment from 'moment'
  import Sortable from 'sortablejs'
  import LineChart from './Graphics.js'

  export default {
    name: 'produzionemacchina',
    props: ['idmmachine'],
    mounted () {/*
      this.sortable = new Sortable(
        this.$refs.sortableTable.$el.getElementsByTagName('tbody')[0],
        {
          draggable: '.sortableRow',
          handle: '.sortHandle',
          onEnd: this.dragReorder
        }
      );
*/
    },
    created(){
      this.machineSelectedID= this.idmmachine,
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken;
      globalAxios.get('/allarmi-attivi-by-machine/'+this.machineSelectedID+'/').then((res)=>{
        this.attivi=res.data
      }).catch(error=>{console.log(error)});
      let vm =this
      this.myinterval = setInterval(function(){
         globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken;
          globalAxios.get('/allarmi-attivi-by-machine/'+vm.machineSelectedID+'/').then((res)=>{
            this.attivi=res.data
          }).catch(error=>{console.log(error)});
      }, 5000);
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken;
      //ToDo separare chiamate axios
      globalAxios.all([
        globalAxios.get('/input-by-macchine/'+this.machineSelectedID+"/" ),
        globalAxios.get('/output-by-macchine/'+this.machineSelectedID+"/" ),
        globalAxios.get('/interfacce-by-macchine/'+this.machineSelectedID+"/" )
      ]).then(axios.spread((res, output, machineinterface) => {
        this.loading = false;

        this.inputCompleted = output.data;
        var i;
        for ( i=0; i< this.inputCompleted.length; i++){
          this.outIDs.push(this.inputCompleted[i].out_id)
          this.outEff.push(parseInt(this.inputCompleted[i].out_efficienza))
        };
        this.cdata= {
          labels : this.outIDs,
          datasets: [{
            label: 'Efficienza macchina',
            backgroundColor: 'transparent',
            data: this.outEff,
          }]
        };
        if(res.data.length!=0){
          this.inputInWorking = _(res.data).orderBy(['in_priorita'], ['asc']).value();
        }
        if (machineinterface.data != null && machineinterface.data.length > 0) {
          this.int_id=machineinterface.id;
          if (machineinterface.data[0].mac_nomemacch != null)
            this.macchinacorrente.nomemacchina = machineinterface.data[0].mac_nomemacch;
          if (machineinterface.data[0].mac_imagepath != null)
            this.macchinacorrente.imagepath = machineinterface.data[0].mac_imagepath;
          if (machineinterface.data[0].int_totem != null)
            this.macchinacorrente.totem = machineinterface.data[0].int_totem;
          else
            this.macchinacorrente.totem = "N.d";
          if (machineinterface.data[0].int_status != null)
            this.macchinacorrente.status = machineinterface.data[0].int_status;
          else
            this.macchinacorrente.status = "N.d";
          if (machineinterface.data[0].int_utensileattivo != null)
            this.macchinacorrente.utensileAttivo = machineinterface.data[0].int_utensileattivo;
          else
            this.macchinacorrente.utensileAttivo = "N.d";
          if (machineinterface.data[0].int_feedmandrino != null)
            this.macchinacorrente.feedMandrino = machineinterface.data[0].int_feedmandrino;
          else
            this.macchinacorrente.feedMandrino = "N.d";
          if (machineinterface.data[0].int_feedassi != null)
            this.macchinacorrente.feedAssi = machineinterface.data[0].int_feedassi;
          else
            this.macchinacorrente.feedAssi = "N.d";
          if (machineinterface.data[0].int_programmaattivo != null)
            this.macchinacorrente.programmaAttivo = machineinterface.data[0].int_programmaattivo;
          else
            this.macchinacorrente.programmaAttivo = "N.d";
          if (machineinterface.data[0].int_pezzifatti != null)
            this.macchinacorrente.pezziFatti = machineinterface.data[0].int_pezzifatti;
          else
            this.macchinacorrente.pezziFatti = "N.d";
          if (machineinterface.data[0].int_commessa != null)
          {
            //this.lavoroincorso = machineinterface.data[0].int_commessa;
            globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken;
            globalAxios.get('/produzione-commessa/'+this.machineSelectedID+"/"+machineinterface.data[0].int_commessa+"/" )
              .then(res=>{
                if(res.data.length>0){
                  this.lavoroincorso=res.data[0];
                }
              } ).catch(error=>{
              this.lavoroincorso = "N.d";
              console.log(error)
            });
          }
          else
            this.lavoroincorso = "N.d";
        }

      })).catch(error=>{console.log(error)});
    },
    beforeRouteLeave(to, from, next) {
      clearInterval(this.myinterval)
      next()
    },
    data () {
      return {
        gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
        machineSelectedID: this.idmmachine,
        valid:true,
        loading: true,
        loadingInput: false,

        imagepath:"",
        machineselected:null,
        lavoroincorso:"N.d",
        sortable:null,
        int_id:null,
        headercompleted:[
          { text: 'Id', value: 'in_id' , class:'id-table', align: 'left'},
          { text: 'Commessa', value: 'cprod_commessa' , align: 'left'},
          { text: 'Articolo', value: 'cprod_articolo' , align: 'left'  },
          { text: 'Fase', value: 'cprod_fase' , align: 'left'  },
          { text: 'Pezzi Fatti', value: 'cprod_pezzifatti' , align: 'left'},
          { text: 'T. Lavoro', value: 'out_tempolavoro' , align: 'left'},
          { text: 'T. Setup', value: 'out_tempopiazzamento' , align: 'left'},
          { text: 'T. Pausa', value: 'out_tempopausa' , align: 'left'},
          { text: 'Efficienza', value: 'out_efficienza' , align: 'center'},
          { text: 'Data', value: 'out_data' , align: 'left'}

        ],
        headersWorkOn: [
          {
            sortable: false
          },
          { text: 'Id', value: 'in_id' , class:'id-table', align: 'left' , sortable:false },
          { text: 'Commessa', value: 'in_commessa' , align: 'left' ,sortable:false  },
          { text: 'Data', value: 'in_data' , align: 'left' , sortable:false  },
          { text: 'Pezzi', value: 'in_lotto' , align: 'left' , sortable:false  },
          { text: 'Priorità', value: 'in_priorita' , align: 'left' , sortable:false },
          { text: 'Status', value: 'in_status' , align: 'left' , sortable:false  },
          { text: '', value: '',sortable:false   }
        ],
        headersAllarmi: [
          { text: 'Id', value: 'all_id' , class:'id-table', align: 'left' , sortable:false },
          { text: 'Data', value: 'ALL_date' , align: 'left' , sortable:false  },
          { text: 'Numero Allarme', value: 'ALL_numeroAllarme' , align: 'left' ,sortable:false  },
          { text: 'Messaggio Allarme', value: 'ALL_messaggioAllarme' , align: 'left' , sortable:false  },
          { text: 'Numero Warning', value: 'ALL_numeroWarning' , align: 'left' , sortable:false  },
          { text: 'Messaggio Warning', value: 'ALL_messaggioWarning' , align: 'left' , sortable:false }
        ],
        ////// form inserimento input
        commessa:"",
        lotto:"",
        priorita:"",

        dialogdelete:false,
        idjobtodelete:-1,

        macchinacorrente:{
          nomemacchina:"",
          programmaAttivo:"",
          utensileAttivo:"",
          feedAssi:"",
          pezziFatti:"",
          feedMandrino:"",
          status:"",
          totem:""
        },

        // gestione dragdrop
        itemKeys: new WeakMap(),
        currentItemKey: 0,
        //
        reparti:[],
        inputALL:[],
        completedALL:[],

        selectedItem:"",
        //currentSelectMachine:[],
        inputInWorking:[],
        inputCompleted:[],

        eff_media:25,
        eff_alta:40,

        myinterval:null,
        attivi:[],

        //validatori
        commessa_val: [v => !!v || 'Value is required',
          v => v.length <= 50 || 'The value must be less than 50 characters',
          v => v>0 || 'The value must be positive number' ],
        lotto_val: [v => !!v || 'Value is required',
          v => v.length <= 10 || 'The value must be less than 10 characters',
          v => v>0 || 'The value must be positive number' ],
        //grfico
        outIDs :[],
        outEff :[],

         //snackbar
        snackbar:false,
        color:"error",
        message:"",

        options :{responsive: true, maintainAspectRatio: false},
        cdata: {
          labels: [],
          datasets: [{
            label: 'Efficienza macchina',
            backgroundColor: 'transparent',
            data: []
          }]
        }
      }
    },
    methods: {
      //funzioni per le statistiche
      calcolaAlt(efficienza){
        if (efficienza<this.eff_media){return 25}
        else {
          if (efficienza<this.eff_alta){return 35}
          else {return 40}
        }
      },
      calcolaBar(efficienza){
        if (efficienza<this.eff_media){return [0,1]}
        else {
          if (efficienza<this.eff_alta){return [0,2,3]}
          else {return [0,2,3,4]}
        }
      },
      barColor(efficienza){
        if (efficienza<this.eff_media){return ['#cd0000','#ff5349']}
        else {
          if (efficienza<this.eff_alta){return ['#ff5349','#f9e814']}
          else {return ['#f9e814','#66cd3f']}
        }
      },
      chooseColor(totem){
        let gradient=null;
        switch (totem){
          case "rosso":{
            gradient = ['#fd1111','#ad1111'];
            break;
          }
          case "giallo":{
            gradient = ['#FFFF2F', '#FFBB11'];
            break;
          }
          case "verde":{
            gradient = ['#11dd11','#116411'];
            break;
          }
          case "blu":{
            gradient = ['#1155dd','#1111dd'];
            break;
          }
          case "viola":{
            gradient = ['#dd11dd','#8511ef'];
            break;
          }
          case "grigio":{
            gradient = ['#707070', '#444444'];
            break;
          }
          default:{
            gradient = ['#a0a0a0', '#a0a0c0'];
            break;
          }
        }
        return gradient;
      },

      reloadLoadedJobForCurrentMachine(idmachine){
        globalAxios.get('/input-by-macchine/'+idmachine+'/' ).then( machineress =>{
          this.inputInWorking =  _(machineress.data).orderBy(['in_priorita'],['asc']).value()
        }).catch(error=>{console.log(error)})
      },
      /*dragReorder ({oldIndex, newIndex}) {
        if (oldIndex!=0 & newIndex!=0){
          const movedItem = this.inputInWorking.splice(oldIndex, 1)[0];
          this.inputInWorking.splice(newIndex, 0, movedItem);
          this.inputInWorking.forEach( function (ele, index, array) {
            globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken;
            globalAxios.all([
              globalAxios.patch('/input/'+ele.in_id+"/", {"in_priorita":(index+1) }),
            ]).then(axios.spread((res) => {
              if(array.length -1 ==  index ){
                this.reloadLoadedJobForCurrentMachine(this.machineSelectedID)
              }
            })).catch(error=>{console.log(error)})
          }.bind(this))
        }else{
          console.log("non si può cambiare");
          this.reloadLoadedJobForCurrentMachine(this.machineSelectedID)
        }

        /* NB facendo il bind di this si porta il contesto this di VEU all'interno del foreach
      },*/
      itemKeyy (item) {
        if (!this.itemKeys.has(item)) this.itemKeys.set(item, ++this.currentItemKey);
        return this.itemKeys.get(item)
      },
      getYupDate(date){
        return moment(date).format("DD/MM/YYYY")
      },
      clearAllData(){
        this.lotto="";
        this.commessa="";
        this.priorita="";
        this.fase="";
        this.articolo="";
      },
      /*
      submitJob(){
        console.log("submit");
        let myInput = null;
        myInput = {
          "in_commessa": this.commessa,
          "in_lotto": this.lotto,
          "in_priorita": this.priorita,
          "in_status": 1,
          //"in_vs_mac": this.machineSelectedID
        };
        //non lo carica qui ma in produzione
        globalAxios.post('/input/', myInput).then((res) => {
          this.reloadLoadedJobForCurrentMachine(this.machineSelectedID)
          this.clearAllData()
        });
      },*/

       snack(messaggio, colore){
        this.message=messaggio;
        this.color=colore;
        this.snackbar=true;
      },

      deleteJob(idItem){
        console.log(idItem)
        if(this.lavoroincorso=="N.d" || idItem!=this.lavoroincorso.cprod_id)
        {
          this.dialogdelete = true;
          this.idjobtodelete =  idItem
        }
      },
      confirmDeleteJob(){
        let myInput = null;
        if(this.idjobtodelete != -1) {
          myInput = {
            "in_vs_cprod": null,
          };
          globalAxios.patch('/input/'+this.idjobtodelete+"/",myInput).then(res=>{
            console.log("myres", res);
            this.reloadLoadedJobForCurrentMachine(this.machineSelectedID);
            this.clearAllData();
            this.dialogdelete=false
            this.snack("commessa eliminata con successo", "info")
          }).catch(error=>{
            console.log(error)
            this.clearAllData();
            this.dialogdelete=false;
            this.snack("impossibile eliminare la commessa in macchina","error")
          })
        }
      },
    },
  }
</script>
<style>
  .img_bar{
    background: linear-gradient(to right, transparent, #a0a0d0);
    height: 200px;
    padding: 10px
  }
  .card__media__content{
    background-image: linear-gradient(to top, rgba(63,81,181,0.6), rgba(125,185,232,0));
    -webkit-box-shadow: inset 0px -6px 24px -5px rgba(59,59,59,1);
    -moz-box-shadow: inset 0px -6px 24px -5px rgba(59,59,59,1);
    box-shadow: inset 0px -6px 24px -5px rgba(59,59,59,1);
  }
</style>

