<template>
  <v-container fluid>
    <EditMachine :myid="idtoedit" ></EditMachine>
  </v-container>
</template>
<script>
  import EditMachine from './ultracomponent/EditMachine.vue'
  export default {
    props:['idtoedit'],
    name: 'modifiymachine',
    components: { EditMachine },
    data () {
      return { idtopass:null }
    },
    created: function(){
      //this.idtopass = this.idtoedit
      console.log(this.idtoedit)
    }
  }
</script>
