
<template>
  <v-layout column>
    <v-flex xs12 class="text-xs-center" mt-5>
      <h3>404</h3>
    </v-flex>
    <v-flex class="text-xs-center" mt-5>
      <p>Not found</p>
    </v-flex>
  </v-layout>
</template>


<script>
import axios from 'axios'
export default {
  name: 'home',
  data () {
    return {
      message: 'AAAAAAAAAA'
    }
  },
  methods: {
    getRandom () {
      // this.randomNumber = this.getRandomInt(1, 100)
      this.message = this.getRandomFromBackend()
    },
    getRandomFromBackend () {
      const path = 'http://127.0.0.1:8000/hearthbeat/'
      axios.get(path)
      .then(response => {
        this.message = response.data.message
      })
      .catch(error => {
        console.log(error)
      })
    }
  }
}
</script>

<style scoped>

</style>
