<template>
  <v-slide-y-transition mode="out-in">
    <v-container fluid>
      <!-- GESTIONE CREAZIONE INPUT  -->
      <v-dialog v-model="dialogEditingJob" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs12 sm12>
                    <v-text-field
                      label="Commessa"
                      v-model="commessa"
                      :rules="commessa_val"
                      :counter="8"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field
                      label="Lotto"
                      :rules="lotto_val"
                      v-model="lotto"
                      :counter="4"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field
                      label="Priorità"
                      v-model="priorita"
                      :rules="priorita_val"
                      required
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm12>
                    <v-text-field
                      label="Programma"
                      v-model="programma"
                      :rules="programma_val"
                      required
                    ></v-text-field>
                  </v-flex>
                  <!--v-flex xs12 sm12>
                    <v-checkbox
                      label="Fase\Articolo"
                      v-model="bool_fase_form"
                      required
                    ></v-checkbox>
                  </v-flex-->
                  <v-flex v-if="bool_fase_form" xs12 sm6>
                    <v-text-field
                      label="Fase"
                      :rules="priorita_val"
                      :counter="4"
                      v-model="fase"
                    ></v-text-field>
                  </v-flex>
                  <v-flex v-if="bool_fase_form" xs12 sm6>
                    <v-text-field
                      label="Codice Articolo"
                      :rules="commessa_val"
                      v-model="articolo"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="chiudiDialog">Cancella</v-btn>
            <v-btn color="blue darken-1" flat @click.native="submitJob" >Salva</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- Modal delete -->
      <v-dialog v-model="dialogdelete" max-width="290">
        <v-card>
          <v-card-title class="headline">Sei sicuro di voler cancellare il Lavoro</v-card-title>
          <v-card-text>Cancellando il lavoro non verra più eseguita la commessa e tutti i dati inseriti verranno cancellati.</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat="flat" @click.native="dialogdelete = false">Cancella</v-btn>
            <v-btn color="blue darken-1" flat="flat" @click.native="confirmDeleteJob">Conferma</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- End Modal -->
      <!-- Input  -->
      <v-layout row wrap>
        <v-flex class="pagebox px-2 mb-5" xs12 sm12   >
          <v-card class="" >
            <v-container fluid grid-list-lg>
              <v-layout row wrap>
                <v-flex xs12 md8>
                  <h2 style="text-align:left; text-transform: uppercase;">COMMESSE DA ASSEGNARE</h2>
                </v-flex>
                <!--v-flex xs12 md4 style="text-align: right">
                  <v-btn style="margin-right: 0px" @click="see_hide_article_input">Mostra\Nascondi Articolo</v-btn>
                </v-flex-->
              </v-layout>
              <v-data-table
                :headers="headersprod"
                :items="inputALL"
                :loading="loadingInput"
                class="elevation-1"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                sort-icon="mdi-menu-down"
              >
                <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left id-table">{{ props.item.in_id }}</td>
                  <td class="text-xs-left">{{ props.item.in_commessa }}</td>
                  <td class="text-xs-left">{{ props.item.in_lotto }}</td>
                  <td class="text-xs-left">{{ props.item.in_priorita }}</td>
                  <td class="text-xs-left">{{ props.item.in_status }}</td>
                  <td class="text-xs-left pt-2">{{ getYupDate(props.item.in_data) }}</td>
                  <td class="justify-left layout ">
                    <v-select
                      :items="machines"
                      class="input-group--focused"
                      item-value="mac_id"
                      item-text="mac_nomemacch"
                      v-model="selectsmachine[props.index]"
                      @input="changeSelect(props.item, $event, props.index)"
                    ></v-select>
                  </td>
                  <td class="text-xs-right">
                    <v-btn icon class="mx-0" @click="editJob(props.item)">
                      <v-icon color="teal">edit</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deleteJob(props.item)">
                      <v-icon color="pink">delete</v-icon>
                    </v-btn>
                  </td>
                  <td v-if="bool_fase_input" class="text-xs-left">{{ props.item.in_articolo }}</td>
                  <td v-if="bool_fase_input" class="text-xs-left">{{ props.item.in_fase }}</td>
                </template>
              </v-data-table>
              <v-layout row>
                <v-flex sm12>
                  <v-btn color="primary" dark @click="createJob"class="mb-2">Crea Commessa</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
        <!-- Blocco contenente la parte di ciclo sui reparti -->
        <v-flex class="pagebox px-2 mb-5" xs12 sm6  v-for="item in []"  >
          <v-card class="" >
            <v-container fluid grid-list-lg>
              <v-layout row>
                <v-flex sm12>
                  <h2 style="text-align:left; text-transform: uppercase;">{{ item.rep_id.split(";")[1] }}</h2>
                </v-flex>
              </v-layout>
              <v-data-table
                :headers="headers"
                :items="item.machine"
                :loading="loading"
                class="elevation-1"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                sort-icon="mdi-menu-down"
              >
                <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left id-table">{{ props.item.mac_id }}</td>
                  <td class="text-xs-left">{{ props.item.mac_nomemacch }}</td>
                  <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="createjobqueue(props.item)">
                      <v-icon color="teal">assignment</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="viewcompletetask(props.item)">
                      <v-icon color="teal">assignment_turned_in</v-icon>
                    </v-btn>
                  </td>
                  <td class="text-xs-left">{{ props.item.mac_soprannomemacch }}</td>
                  <td class="text-xs-left">{{ props.item.mac_controllonumerico }}</td>
                  <td class="text-xs-left pt-2">
                    <bars
                      :data="[1, 2, 3]"
                      :gradient="['#6fa8dc', '#42b983']"
                      :width="50" :height="30"
                    >
                    </bars></td>
                </template>
              </v-data-table>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
      <!-- Output  -->
      <v-layout row wrap>
        <v-flex class="pagebox px-2 mb-5" xs12 sm12   >
          <v-card class="" >
            <v-container fluid grid-list-lg >
              <v-layout row wrap>
                <v-flex xs12 md8>
                  <h2 style="text-align:left; text-transform: uppercase;">COMMESSE COMPLETATE</h2>
                </v-flex>
                <!--v-flex xs12 md4 style="text-align: right">
                  <v-btn style="margin-right: 0px" @click="see_hide_article_output">Mostra\Nascondi Articolo</v-btn>
                </v-flex-->
              </v-layout>
              <v-text-field prepend-icon="search" @input="value => fetchDataFromApi(value)"></v-text-field>
              <v-flex sm12 class="py-3">
                <!--hide-actions -->
                <v-data-table
                  v-bind:headers="headercompleted"
                  :items="outputALL"
                  class="elevation-1"
                  prev-icon="mdi-menu-left"
                  next-icon="mdi-menu-right"
                  sort-icon="mdi-menu-down"
                >
                  <template slot="items" slot-scope="props">
                    <tr>
                      <td class="text-xs-left id-table">{{ props.item.out_id }}</td>
                      <td class="text-xs-left">{{ props.item.mac.cprod_commessa }}</td>
                      <td v-if="bool_fase_output" class="text-xs-left">{{ props.item.mac.cprod_articolo }}</td>
                      <td v-if="bool_fase_output" class="text-xs-left">{{ props.item.mac.cprod_fase }}</td>
                      <td class="text-xs-left">{{ props.item.mac.mac_nomemacch }}</td>
                      <td class="text-xs-left">{{ props.item.mac.cprod_lotto }}</td>
                      <td class="text-xs-left">{{ props.item.time.lavoro }}</td>
                      <td class="text-xs-left">{{ props.item.time.setup }}</td>
                      <td class="text-xs-left">{{ props.item.time.pausa }}</td>
                      <td class="text-xs-center">
                        <v-layout row wrap justify-center align-center>
                          <span >{{props.item.out_efficienza}}</span>
                          <bars
                            :data=calcolaBar(props.item.out_efficienza)
                            :gradient=barColor(props.item.out_efficienza)
                            :barWidth="6"
                            :width="calcolaAlt(props.item.out_efficienza)+5" :height="calcolaAlt(props.item.out_efficienza)"
                          >
                          </bars>
                        </v-layout>
                      </td>
                      <td class="text-xs-left pt-2">{{ getYupDate( props.item.out_data ) }}</td>

                    </tr>
                  </template>
                </v-data-table>
              </v-flex>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
      <!--snackbar-->
      <v-snackbar
        :color=color
        :timeout="6000"
        :multi-line="false"
        v-model=snackbar
      >
        {{message }}
        <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
      </v-snackbar>
    </v-container>
  </v-slide-y-transition>
</template>

<script>
  import axios from 'axios'
  var _ = require('lodash');
  import globalAxios from 'axios'
  import store  from '../store'
  import * as moment from 'moment'
  import Sortable from 'sortablejs'

  export default {
    name: 'home',
    beforeCreate: function(){
      //console.log("..........")
      this.loading = true
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
      globalAxios.all([
        globalAxios.get('/interfacce-macchine/'),
        globalAxios.get('/input-by-macchine/0/'),
        globalAxios.get('/output-by-macchine/0/'),
        globalAxios.get('/macchine-attive/'),
      ])
        .then(axios.spread((res, machineress, output, attive) => {
          this.loading = false
          this.reparti  = _(res.data).groupBy( x => x.rep_id+";"+x.rep_name ).map((value, key) => ({rep_id: key, machine: value})).value()
          this.machines  =  attive.data
          this.inputALL = machineress.data
          this.outputALL = output.data
        })).catch(error=>{
        console.log(error)
        snack(error,"error")
      })
    },
    data () {
      return {
        //VALIDATORS
        commessa_val: [v => !!v || 'Value is required',
          v => v.length <= 8 || 'The value must be less than 8 characters',
          v => v>0 || 'The value must be positive number' ],
        lotto_val: [v => !!v || 'Value is required',
          v => v.length <= 4 || 'The value must be less than 4 characters',
          v => v>0 || 'The value must be positive number' ],
        priorita_val:[v => !!v || 'Value is required',
          v => v<=100 || 'The value must be less than 100',
          v => v>0 || 'The value must be positive number' ],
        programma_val: [v => !!v || 'Value is required',
          v => v.length <= 10 || 'The value must be less than 10 characters'],
        gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
        bool_fase_input:true,
        bool_fase_output:true,
        bool_fase_form:true,
        machineEditing:0,
        machineEditingName: "",
        valid:true,
        loading: false,
        loadingInput: false,
        dialoglavoricompletati:false,
        imagepath:"",
        machines:[],

        selectsmachine:[],
        machineselected:null,

        sortable:null,
        headers: [
          { text: 'Id', value: 'mac_id' , class:'id-table',  align: 'left' },
          { text: 'Nome', value: 'mac_nomemacch' , align: 'left'  },
          { text: 'Lavori', value: '' , align: 'left'  , sortable: false },
          { text: 'Soprannome', value: 'mac_soprannomemacch' , align: 'left'  },
          { text: 'Controllo N.', value: 'mac_controllonumerico' , align: 'left'  },
          { text: 'Status', value: 'mac_reparto' , align: 'left'  },
        ],
        headersprod: [
          { text: 'Id', value: 'in_id' , class:'id-table' , align: 'left' },
          { text: 'Commessa', value: 'in_commessa' , align: 'left'  },
          { text: 'Lotto', value: 'in_lotto' , align: 'left'  },
          { text: 'Priorità', value: 'in_priorita' , align: 'left' },
          { text: 'Status', value: 'in_status' , align: 'left'  },
          { text: 'Data', value: 'in_data' , align: 'left'  },
          { text: 'Macchina', value: ''   },
          { text: 'modifica/elimina', value: '', align: 'right'   },
          { text: 'Articolo', value: 'in_articolo' , align: 'left'  },
          { text: 'Fase', value: 'in_fase' , align: 'left'  }
        ],
        headersWorkOn: [
          {
            sortable: false
          },
          { text: 'Id', value: 'in_id' , align: 'left' , sortable:false },
          { text: 'Commessa', value: 'in_commessa' , align: 'left' ,sortable:false  },
          { text: 'Lotto', value: 'in_lotto' , align: 'left' , sortable:false  },
          { text: 'Priorità', value: 'in_priorita' , align: 'left' , sortable:false },
          { text: 'Status', value: 'in_status' , align: 'left' , sortable:false  },
          { text: 'Data', value: 'in_data' , align: 'left' , sortable:false  },
        ],
        headercompleted:[
          { text: 'Id', value: 'in_id' , class:'id-table', align: 'left'},
          { text: 'Commessa', value: 'cprod_commessa' , align: 'left'},
          { text: 'Articolo', value: 'cprod_articolo' , align: 'left'  },
          { text: 'Fase', value: 'cprod_fase' , align: 'left'  },
          { text: 'Macchina', value: 'mac_nomemacchina' , align: 'left'},
          { text: 'Pezzi Fatti', value: 'cprod_lotto' , align: 'left'},
          { text: 'T. Lavoro', value: 'out_tempolavoro' , align: 'left'},
          { text: 'T. Setup', value: 'out_tempopiazzamento' , align: 'left'},
          { text: 'T. Pausa', value: 'out_tempopausa' , align: 'left'},
          { text: 'Efficienza', value: 'out_efficienza' , align: 'center'},
          { text: 'Data', value: 'out_data' , align: 'left'}

        ],
        ////// form inserimento input
        commessa:"",
        lotto:"",
        priorita:"",
        programma:"",
        fase:"",
        articolo:"",
        ////// form inserimento editing
        dialogEditingJob:false,
        dialogdelete:false,
        formTitle:"Crea Commessa",
        indexPE:-1,
        commessaE:"",
        lottoE:"",
        prioritaE:"",
        faseE:"",
        articoloE:"",
        /// form delete item
        idjobtodelete:-1,
        ////// endforms

        macchinacorrente:{
          nomemacchina:"",
          programmaAttivo:"",
          utensileAttivo:"",
          feedAssi:"",
          pezziFatti:"",
          feedMandrino:"",
          status:""
        },

        // gestione dragdrop
        itemKeys: new WeakMap(),
        currentItemKey: 0,
        //
        reparti:[],
        inputALL:[],
        outputALL:[],
        completedALL:[],

        selectedItem:"",
        currentSelectMachine:[],
        inputInWorking:[],
        inputCompleted:[],

        //snackbar
        snackbar:false,
        color:"error",
        message:"",

        //parametri efficienza macchina
        eff_media:14,
        eff_alta:25,

        //validatori
        nameRules: []
      }
    },
    methods: {
      fetchDataFromApi(query) {
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        let path = '/searchoutput/'+query+'/'
        if(query=="")
          path = '/output-by-macchine/0/'
        globalAxios.all([
          globalAxios.get( path )
        ]).then( globalAxios.spread((res)=>{
          this.outputALL = res.data
        })).catch(error=>{
          console.log(error);
          snack(error,"error")
        });
      },
      calcolaAlt(efficienza){
        if (efficienza<this.eff_media){return 25}
        else {
          if (efficienza<this.eff_alta){return 35}
          else {return 40}
        }
      },
      calcolaBar(efficienza){
        if (efficienza<this.eff_media){return [0,1]}
        else {
          if (efficienza<this.eff_alta){return [0,1,2]}
          else {return [0,1,2,3]}
        }
      },
      barColor(efficienza){
        if (efficienza<this.eff_media){return ['#cd0000','#ff5349']}
        else {
          if (efficienza<this.eff_alta){return ['#ff5349','#f9e814']}
          else {return ['#f9e814','#66cd3f']}
        }
      },

      snack(messaggio, colore){
        this.message=messaggio;
        this.color=colore;
        this.snackbar=true;
      },

      chiudiDialog(){
        this.dialogEditingJob = false
        this.clearAllData()
      },
      reloadLoadedJobForCurrentMachine(idmachine){
        globalAxios.get('/input-by-macchine/'+idmachine+'/' ).then( machineress =>{
          this.inputInWorking =  _(machineress.data).orderBy(['in_priorita'],['asc']).value()
        }).catch(error=>{console.log(error)})
      },
      openDeatail(myId){
        this.$router.push("/machine/"+myId)
      },
      getRandom () {
        // this.randomNumber = this.getRandomInt(1, 100)
        this.message = this.getRandomFromBackend()
      },
      getRandomFromBackend () {
        const path = 'http://127.0.0.1:8000/hearthbeat/'
        axios.get(path)
          .then(response => {
            this.message = response.data.message
          })
          .catch(error => {console.log(error);})
      },
      see_hide_article_input(){
        if (this.bool_fase_input){
          this.bool_fase_input=false
          this.headersprod.pop()
          this.headersprod.pop()
        }else{
          this.bool_fase_input=true
          this.headersprod.push({ text: 'Articolo', value: 'in_articolo' , align: 'left'  })
          this.headersprod.push({ text: 'Fase', value: 'in_fase' , align: 'left'  })
        }
      },
      see_hide_article_output(){
        if (this.bool_fase_output){
          this.bool_fase_output=false
          this.headercompleted.pop()
          this.headercompleted.pop()
        }else{
          this.bool_fase_output=true
          this.headercompleted.push({ text: 'Articolo', value: 'cprod_articolo' , align: 'left'  })
          this.headercompleted.push({ text: 'Fase', value: 'cprod_fase' , align: 'left'  })
        }
      },
      createjobqueue (item){

        this.dialoglavori = true
        this.machineEditing = item.mac_id
        this.macchinacorrente.mac_nomemacch = item.mac_nomemacch.toUpperCase()

        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        globalAxios.all([
          globalAxios.get('/input-by-macchine/'+item.mac_id+"/" ),
          globalAxios.get('/interfacce-by-macchine/'+item.mac_id+"/" )
        ]).then(axios.spread((res, machineinterface) => {
          this.loading = false
          this.inputInWorking = res.data

          this.imagepath = machineinterface.data[0].mac_imagepath

          if(machineinterface.data.length > 0  ) {
            if(machineinterface.data[0].int_status != null)
              this.macchinacorrente.status = machineinterface.data[0].int_status
            else
              this.macchinacorrente.status = "N.d"

            if(machineinterface.data[0].int_utensileattivo != null)
              this.macchinacorrente.utensileAttivo = machineinterface.data[0].int_utensileattivo
            else
              this.macchinacorrente.utensileAttivo = "N.d"

            if(machineinterface.data[0].int_feedmandrino != null)
              this.macchinacorrente.feedMandrino = machineinterface.data[0].int_feedmandrino
            else
              this.macchinacorrente.feedMandrino = "N.d"

            if(machineinterface.data[0].int_feedassi != null)
              this.macchinacorrente.feedAssi = machineinterface.data[0].int_feedassi
            else
              this.macchinacorrente.feedAssi = "N.d"

            if( machineinterface.data[0].int_programmaattivo != null)
              this.macchinacorrente.programmaAttivo = machineinterface.data[0].int_programmaattivo
            else
              this.macchinacorrente.programmaAttivo  = "N.d"

            if(machineinterface.data[0].int_pezzifatti != null)
              this.macchinacorrente.pezziFatti = machineinterface.data[0].int_pezzifatti
            else
              this.macchinacorrente.pezziFatti = "N.d"
          }
        })).catch(error=>{
          console.log(error);

        })
      },
      viewcompletetask(item){

        this.dialoglavoricompletati = true
        this.machineEditing = item.mac_id
        this.macchinacorrente.mac_nomemacch = item.mac_nomemacch.toUpperCase()

        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        globalAxios.all([
          globalAxios.get('/output-by-macchine/'+item.mac_id+"/" ),
          globalAxios.get('/interfacce-by-macchine/'+item.mac_id+"/" )
        ]).then(globalAxios.spread((res, machineinterface) => {
          this.loading = false
          this.inputCompleted = res.data

          this.imagepath = machineinterface.data[0].mac_imagepath

          if(machineinterface.data.length > 0  ) {
            if(machineinterface.data[0].int_status != null)
              this.macchinacorrente.status = machineinterface.data[0].int_status
            else
              this.macchinacorrente.status = "N.d"

            if(machineinterface.data[0].int_utensileattivo != null)
              this.macchinacorrente.utensileAttivo = machineinterface.data[0].int_utensileattivo
            else
              this.macchinacorrente.utensileAttivo = "N.d"

            if(machineinterface.data[0].int_feedmandrino != null)
              this.macchinacorrente.feedMandrino = machineinterface.data[0].int_feedmandrino
            else
              this.macchinacorrente.feedMandrino = "N.d"

            if(machineinterface.data[0].int_feedassi != null)
              this.macchinacorrente.feedAssi = machineinterface.data[0].int_feedassi
            else
              this.macchinacorrente.feedAssi = "N.d"

            if( machineinterface.data[0].int_programmaattivo != null)
              this.macchinacorrente.programmaAttivo = machineinterface.data[0].int_programmaattivo
            else
              this.macchinacorrente.programmaAttivo  = "N.d"

            if(machineinterface.data[0].int_pezzifatti != null)
              this.macchinacorrente.pezziFatti = machineinterface.data[0].int_pezzifatti
            else
              this.macchinacorrente.pezziFatti = "N.d"
          }
        })).catch(error=>{
          console.log(error);
          this.snack("impossibile caricare i dati","error")
        })
      },
      dragReorder ({oldIndex, newIndex}) {
        const movedItem = this.inputInWorking.splice(oldIndex, 1)[0]
        this.inputInWorking.splice(newIndex, 0, movedItem)
        this.inputInWorking.forEach( function (ele, index, array) {
          globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
          globalAxios.all([
            globalAxios.patch('/input/'+ele.in_id+"/", {"in_priorita":(index+1) }),
          ]).then(axios.spread((res) => {
            if(array.length -1 ==  index ){
              this.reloadLoadedJobForCurrentMachine(res.data.in_vs_mac)
            }
          })).catch(error=>{console.log(error);})
        }.bind(this))
        /* NB facendo il bind di this si porta il contesto this di VEU all'interno del foreach */
      },
      itemKeyy (item) {
        if (!this.itemKeys.has(item)) this.itemKeys.set(item, ++this.currentItemKey)
        return this.itemKeys.get(item)
      },
      getYupDate(date){
        return moment(date).format("DD/MM/YYYY")
      },
      changeSelect(item, event, index){
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        globalAxios.patch('/input/'+item.in_id+"/", {"in_vs_mac_id":event })
          .then(axios.spread((res) => {
            globalAxios.get('/input-by-macchine/0/' ).then( machineress =>{
              this.loading = false
              this.inputALL = machineress.data
              this.selectsmachine[index]= null
              this.snack("commessa assegnata correttamente alla macchina","info")
            }).catch(error=>{
              console.log(error)
              this.snack("impossibile assegnare la commessa alla macchina","error")
            })
          }))
      },
      createJob(){
        this.dialogEditingJob = true
        this.formTitle = "Crea Commessa"
      },
      editJob(item){
        this.dialogEditingJob = true
        this.indexPE = this.inputALL.indexOf(item)

        this.commessa = this.stripspaces(item.in_commessa)
        this.lotto = this.stripspaces(item.in_lotto)
        this.priorita = item.in_priorita
        this.articolo = item.in_articolo
        this.fase =this.stripspaces(item.in_fase)
        if (this.fase!=null || this.articolo!= null){
          this.bool_fase_form=true
        }
        this.formTitle = "Modifica commessa "+ item.in_commessa
      },
      deleteJob(item){
        this.dialogdelete = true
        this.idjobtodelete =  this.inputALL.indexOf(item)
      },
      confirmDeleteJob(){
        //console.log("deleted")
        if(this.idjobtodelete != -1) {
          globalAxios.delete('/input/'+this.inputALL[this.idjobtodelete].in_id+"/").then(res=>{
            console.log("myres", res)
            //Object.assign(this.inputALL[this.indexPE], res.data)
            this.inputALL.splice(this.idjobtodelete,1)
            this.clearAllData()
            this.dialogdelete=false
            this.snack("commessa eliminata con successo", "info")
          }).catch(error=>{
            console.log(error)
            this.snack("impossibile eliminare la commessa","error")
          })
        }
      },
      clearAllData(){
        this.$refs.form.reset()
        this.lotto=""
        this.commessa=""
        this.priorita=""
        this.fase=null
        this.articolo=null
        this.lottoE=""
        this.commessaE=""
        this.prioritaE=""
        this.faseE=null
        this.articoloE=null
        this.indexPE = -1
        this.idjobtodelete = -1
        console.log("clear")
      },
      submitJob(){
        if (this.$refs.form.validate()){
          let myInput = null
          myInput = {
            "in_commessa": this.commessa,
            "in_lotto": this.lotto,
            "in_priorita": this.priorita,
            "in_importfrom": "Octo",
            "in_programma": this.programma
            //"in_vs_mac": this.machineEditing
          }
          if (this.bool_fase_input){
              myInput["in_fase"]= this.fase,
              myInput["in_articolo"]=this.articolo
          }
          if(this.indexPE == -1) {
            console.log(myInput)
            globalAxios.post('/input/',myInput ).then(res=>{
              this.inputALL.push(res.data)
              this.dialogEditingJob=false
              this.clearAllData()
              this.snack("commessa creata con successo", "info")
            }).catch(error=>{
              console.log(error)
              this.snack("la commessa non e' stata creata, ricaricare la pagina","error")
            })
          }else{
            globalAxios.patch('/input/'+this.inputALL[this.indexPE].in_id+"/",myInput).then(res=>{
              Object.assign(this.inputALL[this.indexPE], res.data)
              this.dialogEditingJob=false
              this.clearAllData()
              this.snack("commessa modificata con successo", "info")
            }).catch(error=>{
              console.log(error);
              this.snack("la commessa non e' stata modificata, ricaricare la pagina","error")
            })
          }
          /*
           Object.assign(this.items[this.editedIndex], this.editedItem)
                } else {
                  this.editedItem.rep_id = res.data.rep_id
                  this.items.push(this.editedItem)
          */

        }
      },
      stripspaces(string){
        string=string.trim()
        return(string)
      },
      close(value){
        value = false
      },
      editInput(item){
        console.log(item)
      },
      deleteInput(item){
        console.log(item)
      },
    }
  }
</script>
<style>

  #WLayoutProduzione .MElemento {
    flex-shrink: 0 !important;
  }
  .card__media__content{
    background-image: linear-gradient(to top, rgba(63,81,181,0.6), rgba(125,185,232,0));
    -webkit-box-shadow: inset 0px -6px 24px -5px rgba(59,59,59,1);
    -moz-box-shadow: inset 0px -6px 24px -5px rgba(59,59,59,1);
    box-shadow: inset 0px -6px 24px -5px rgba(59,59,59,1);
  }
</style>

