<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-flex column align-left>
        <v-flex xs12 class="text-xs-left display-1" mt-5>
          <v-card>
            <v-card-text>
              <v-layout column align-left>
                <v-flex xs12 class="text-xs-left display-1" mt-5>
                  <h3>Lista Gruppi</h3>
                  <v-divider dark ></v-divider>
                  <v-spacer></v-spacer>
                </v-flex>
                <v-text-field prepend-icon="search" @input="value => fetchDataFromApi(value)"></v-text-field>
              </v-layout>
            </v-card-text>
            <v-dialog v-model="dialog" max-width="500px">
              <v-btn color="primary" dark slot="activator" class="mb-2">Nuovo gruppo</v-btn>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm12 md12>
                        <v-text-field label="Nome" v-model="editedItem.name"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-select
                          label="Utenti"
                          v-bind:items="people"
                          v-model="e11"
                          item-text="username"
                          item-value="pk"
                          cache-items
                          chips
                          multiple
                          max-height="auto"
                          autocomplete
                          :loading="loadingselect"
                          :rules="[() => e11.length > 0 || 'You must choose at least one']"
                          :search-input.sync="search"
                        >
                          <template slot="selection" scope="data">
                            <v-chip
                              close
                              @input="data.parent.selectItem(data.item)"
                              @click.native.stop
                              class="chip--select-multi"
                              :key="JSON.stringify(data.item)"
                            >
                              {{ data.item.username }}
                            </v-chip>
                          </template>
                          <template slot="item" scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>
                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.username"></v-list-tile-title>
                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-select>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click.native="close('dialog')">Cancella</v-btn>
                  <v-btn color="blue darken-1" flat @click.native="save">Salva</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card>
          <v-flex column align-left style="margin-top: 40px">
            <v-flex xs12 class="text-xs-left display-1" mt-5>
              <v-dialog v-model="dialogdelete" max-width="290">
                <v-card>
                  <v-card-title class="headline">Sei sicuro di voler cancellare il Gruppo</v-card-title>
                  <v-card-text>Cancellando il gruppo cancellerai anche tutti i dati associati ad esso.</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat="flat" @click.native="close('dialogdelete')">Cancella</v-btn>
                    <v-btn color="blue darken-1" flat="flat" @click.native="deleteConfirmed">Conferma</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-data-table
                :headers="headers"
                :items="items"
                :loading="loading"
                class="elevation-1"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                sort-icon="mdi-menu-down"
              >
                <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">{{ props.item.name }}</td>
                  <td class="text-xs-left">{{ Array.isArray(props.item.members)?props.item.members.length:JSON.parse(props.item.members).length }}</td>
                  <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="editItem(props.item)">
                      <v-icon color="teal">edit</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                      <v-icon color="pink">delete</v-icon>
                    </v-btn>
                  </td>
                </template>
              </v-data-table>
            </v-flex>
          </v-flex>

        </v-flex>
      </v-flex>
    </v-slide-y-transition>
    <v-snackbar
      :color=color
      :timeout="6000"
      :multi-line="false"
      v-model=snackbar
    >{{message }}
      <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
  import globalAxios from 'axios'
  import store  from '../store'
  import index from "../router";
  export default {
    name: 'about',
    beforeCreate: function(){
      //console.log(".........")
      this.loading = true
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
      globalAxios.get('/groupmembership/' ).then(res => {
        this.loading = false
        this.items =  res.data
      }).catch(error=>{console.log(error)})
    },
    data() {
      return {
        dialog: false,
        dialogdelete:false,
        e11: [],
        search: null,
        headers: [
          { text: 'Nome', value: 'name' , align: 'left'  },
          { text: 'Membri', value: 'membri' , align: 'left'  },
          { text: 'modifica/elimina', value: '', align: 'center' },
        ],
        people: [],
        items:[],
        loadingselect:false,
        loading:true,
        editedIndex: -1,
        editedItem: {
          new: true,
          name: '',
          members: []
        },
        defaultItem: {
          new: true,
          name: '',
          members: []
        },
        //snackbar
        snackbar:false,
        color:"error",
        message:""
      }
    },
    methods: {
      fetchDataFromApi(query) {
        console.log("aaaa")
      },
      querySelections (v) {
        this.loadingselect = true
        console.log(v);
        // Simulated ajax query
        globalAxios.get("/usersearch/"+v+"/").then(res => {
          this.loadingselect = false
          console.log(res)
          this.people = res.data
        }).catch(error=>{
          console.log(error)
        })
      },
      snack(messaggio, colore){
        this.message=messaggio;
        this.color=colore;
        this.snackbar=true;
      },
      editItem (item) {
        this.e11 = []
        this.people = []
        this.editedItem = Object.assign({}, item)
        this.editedIndex = this.items.indexOf(item)
        this.editedItem.new = false
        for(let index=0; index < item.members.length; index++ ){
          this.e11.push( {  'pk':item.members[index]['pk'], 'username':item.members[index]['username'] } );
          this.people.push( {  'pk':item.members[index]['pk'], 'username':item.members[index]['username'] } )
        }
        this.dialog=true
      },
      deleteItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogdelete = true
      },
      deleteConfirmed () {
        globalAxios.delete("/gruppo/"+this.editedItem.name+"/", this.editedItem).then(res => {
          //console.log("this is index2 ", this.editedIndex)
          this.items.splice(this.editedIndex, 1);
          this.dialogdelete = false;
          this.snack("gruppo eliminato correttamente", "info")
          this.close("dialogdelete")
        }).catch(error=>{
          //console.log(error)
          this.snack("impossibile eliminare il gruppo", "error")
          this.close("dialogdelete")
        })
      },
      close ( mydialog ) {
        this[mydialog] = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
          this.e11 = []
          this.people = []
        }, 300)
      },
      save () {
        let currentAPICall = ""
        this.editedItem.members = []
        for(let index=0; index < this.e11.length; index++ ){
          this.editedItem.members.push(this.e11[index])
        }
        if(this.editedItem.new == false){
          currentAPICall = "/gruppo/"+this.editedItem.name+"/"
        }
        else{
          currentAPICall = "/gruppi/"
        }
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        globalAxios.post(currentAPICall, this.editedItem).then(res => {
          if (currentAPICall !== "/gruppi/" ) {
            this.editedItem.name =  res.data.name
            this.editedItem.members =  res.data.members
            Object.assign(this.items[this.editedIndex], this.editedItem)
          } else {
            this.editedItem.name =  res.data.name
            this.editedItem.members =  res.data.members
            this.items.push(this.editedItem)
          }
          let messaggio = "gruppo " +(this.editedItem.new?"creato":"modificato")+" con successo";
          this.snack(messaggio,"info")
          this.editedItem.new = true;

          this.close("dialog")
        }).catch(error=>{
          let messaggio = "impossibile " +(this.editedItem.new?"creare":"modificare")+" il gruppo"
          this.snack(messaggio,"error")
          this.close("dialog")
        })
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuovo Gruppo' : 'Modifica Gruppo'
      }
    },
    watch: {
      search (val) {
        //console.log(val)
        val && this.querySelections(val)
      },
      dialog(val){
        if(!val) {
          this.editedItem.new = true
        }
      }
    },
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
