<template>
  <v-container fluid>
    <!--
     Ricordarsi se l'ttributo non multiple , il valore  bindato al select può essere una sola stringa non un array.
     Vedi l'attributo e11s
     -->

    <v-slide-y-transition mode="out-in">
      <v-flex column align-left>
        <v-flex xs12 class="text-xs-left display-1" mt-5>
          <v-card>
            <v-card-text>

              <v-layout column align-left>
                <v-flex xs12 class="text-xs-left display-1" mt-5>
                  <h3>Lista Reparti</h3>
                  <v-divider dark ></v-divider>
                  <v-spacer></v-spacer>
                </v-flex>
                <v-text-field prepend-icon="search" @input="value => fetchDataFromApi(value)"></v-text-field>
                <v-dialog v-model="dialog" max-width="500px">
                  <v-btn color="primary" dark slot="activator" class="mb-2">Nuovo reparto</v-btn>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                      <v-form v-model="valid" ref="form" lazy-validation>
                        <v-container grid-list-md>
                          <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                              <v-text-field label="Nome" v-model="editedItem.rep_name"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                              <v-text-field label="Description" v-model="editedItem.rep_descr"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                              <v-select
                                label="Gruppi"
                                v-bind:items="groupsS"
                                v-model="e11"
                                item-text="name"
                                item-value="name"
                                cache-items
                                chips
                                max-height="auto"
                                autocomplete
                                :loading="loadingselect"
                                :search-input.sync="search"
                              >
                                <template slot="selection" scope="data">
                                  <v-chip
                                    close
                                    @input="data.parent.selectItem(data.item)"
                                    @click.native.stop
                                    class="chip--select-multi"
                                    :key="JSON.stringify(data.item)"
                                  >
                                    {{ data.item.name }}
                                  </v-chip>
                                </template>
                                <template slot="item" scope="data">
                                  <template v-if="typeof data.item !== 'object'">
                                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                  </template>
                                  <template v-else>
                                    <v-list-tile-content>
                                      <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                                    </v-list-tile-content>
                                  </template>
                                </template>
                              </v-select>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1"  flat @click.native="close('dialog')">Cancella</v-btn>
                      <v-btn color="blue darken-1" flat @click.native="save">Salva</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-layout>

            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex column align-left style="margin-top: 40px">
          <v-flex xs12 class="text-xs-left display-1" mt-5>
            <v-dialog v-model="dialogdelete" max-width="290">
              <v-card>
                <v-card-title class="headline">Sei sicuro di voler cancellare il Reparto</v-card-title>
                <v-card-text>Cancellando il reparto cancellerai anche tutte le macchine associato ad esso ed i dati associati ad esso.</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat="flat" @click.native="close('dialogdelete')">Cancella</v-btn>
                  <v-btn color="blue darken-1" flat="flat" @click.native="deleteConfirmed">Conferma</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-data-table
              :headers="headers"
              :items="items"
              :loading="loading"
              class="elevation-1"
              prev-icon="mdi-menu-left"
              next-icon="mdi-menu-right"
              sort-icon="mdi-menu-down"
            >
              <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
              <template slot="items" slot-scope="props">
                <td class="text-xs-right id-table">{{ props.item.rep_id }}</td>
                <td class="text-xs-left">{{ props.item.rep_descr }}</td>
                <td class="text-xs-left">{{ props.item.rep_name }}</td>
                <td class="text-xs-left">{{ props.item.group_ref }}</td>
                <td class="justify-center layout px-0" v-if="perm.change||perm.delete">
                  <v-btn icon class="mx-0" v-if="perm.change" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" v-if="perm.delete" @click="deleteItem(props.item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </v-flex>
        </v-flex>
      </v-flex>
    </v-slide-y-transition>
    <v-snackbar
        :color=color
        :timeout="6000"
        :multi-line="false"
        v-model=snackbar
      >
      {{message }}
      <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
  import globalAxios from 'axios'
  import store  from '../store'
  export default {
    name: 'about',
    beforeCreate: function(){
      this.loading = true
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken

      //lettura permessi utente
      let bodyFormData = new FormData();
      bodyFormData.append('nomeModello', 'reparti');
      globalAxios.post('/ctrlPermessiStd/', bodyFormData)
        .then(res => {
          this.perm=res.data.perm;
          this.loading = false
          if (this.perm.edit || this.perm.delete) this.headers.push({ text: 'modifica/elimina', value: '', align: 'center' })
          if (this.perm.view){
            globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
            globalAxios.get('/reparti/' ).then(res => {
              this.items = res.data
            }).catch(error=>{console.log(error)})}
        }).catch(error => { console.log(error) })
    },
    data() {
      return {
        valid:false,
        e11: null,
        groupsS: [],
        dialog: false,
        dialogdelete:false,
        editedIndex: -1,
        search: null,
        headers: [
          { text: 'Id', value: 'rep_id' , class:'id-table' , align: 'left' },
          { text: 'Descrizione', value: 'rep_descr' , align: 'left' },
          { text: 'Nome', value: 'rep_name' , align: 'left'  },
          { text: 'Autorizzazione', value: 'group_ref' , align: 'left' },
        ],
        loading:true,
        loadingselect:false,
        items:[],
        editedItem: {
          rep_id: -1,
          rep_name: '',
          rep_descr: "",
          group_ref: ""
        },
        defaultItem: {
          rep_id: -1,
          rep_name: '',
          rep_descr: "",
          group_ref: ""
        },
        //snackbar
        snackbar:false,
        color:"error",
        message:""
      }
    },
    methods: {
      fetchDataFromApi(query) {
        // Use Axios or whatever you like to retrieve updated search results into items
        //axios.get(`api/search?q=${query}`)
        ///    .then(response => this.items = response);
        //console.log("aaaa")
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        let path = '/searchreparti/'+query+'/'
        if(query=="")
          path = '/reparti/'
        globalAxios.all([
          globalAxios.get( path )
        ]).then( globalAxios.spread((res)=>{
          this.items = res.data
        })).catch(error=>{console.log(error)});

      },
      editItem (item) {
        //this.editedIndex = item.rep_id
        this.e11 = null
        this.groupsS = []
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        console.log("qui",item.group_ref )

        if(item.group_ref != "" && item.group_ref !== null )
          this.e11 = item.group_ref
        this.groupsS = [{name:item.group_ref}]
        this.dialog = true
        //console.log(this.editedIndex)
      },
      deleteItem (item) {
        //const index = this.items.indexOf(item)
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogdelete = true
      },
      deleteConfirmed () {
        if (this.perm.delete) {
          globalAxios.delete("/reparto/" + this.editedItem.rep_id + "/", this.editedItem).then(res => {
            this.items.splice(this.editedIndex, 1)
            this.dialogdelete = false
            this.close("dialogdelete")
            this.snack("reparto cancellato correttamente","info")
          }).catch(error => {
            console.log(error)
            this.snack("impossibile cancellare il reparto, contiene delle macchine","error")
          })
        }
        this.close("dialogdelete")
      },
      close ( mydialog ) {
        this.e11 = null
        this.groupsS = []
        this[mydialog] = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      querySelections (v) {
        this.loadingselect = true
        // Simulated ajax query
        globalAxios.get("/groupsearch/"+v+"/").then(res => {
          this.loadingselect = false
          this.groupsS = res.data
        }).catch(error=>{
          console.log(error)
        })
      },
      snack(messaggio, colore){
        this.message=messaggio;
        this.color=colore;
        this.snackbar=true;
      },
      save () {
        if(this.$refs.form.validate()&&this.perm.change) {
          let currentAPICall = ""
          if (this.editedItem.rep_id > -1) {
            currentAPICall = "/reparto/" + this.editedItem.rep_id + "/"
          }
          else {
            currentAPICall = "/reparti/"
          }

          if (this.e11 !== null)
            this.editedItem.group_ref = this.e11
          else
            this.editedItem.group_ref = ""
          let messaggio = "reparto " +(this.editedItem.rep_id > -1?"modificato":"creato")+" con successo"
          globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
          globalAxios.post(currentAPICall, this.editedItem).then(res => {
            if (currentAPICall !== "/reparti/") {
              Object.assign(this.items[this.editedIndex], this.editedItem)
            } else {
              this.editedItem.rep_id = res.data.rep_id
              this.items.push(this.editedItem)
            }
            this.close("dialog")

            this.snack(messaggio,"info")
          }).catch(error => {
            console.log(error)
            let messaggio = "impossibile " +(this.editedItem.rep_id > -1?"modificare":"creare")+" il reparto"
            this.snack(messaggio,"error")
            this.close("dialog")
          })
        }
      }
    },
    watch:{
      search (val) {
        //console.log(val)
        val && this.querySelections(val)
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuovo Reparto' : 'Modifica Reparto'
      }
    },
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
