<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-slide-y-transition mode="out-in">
        <v-flex column align-left>
          <v-flex xs12 class="text-xs-left display-1" mt-5>
            <v-card>
              <v-card-text>
                <v-layout column align-left>
                  <v-flex xs12 class="text-xs-left display-1" mt-5>
                    <h3>Lista Serie</h3>
                    <v-divider dark ></v-divider>
                    <v-spacer></v-spacer>
                  </v-flex>
                  <v-text-field prepend-icon="search" @input="value => fetchDataFromApi(value)"></v-text-field>
                </v-layout>
              </v-card-text>
              <v-dialog v-model="mydialog" max-width="500px">
                <v-btn color="primary" @click="loadseriesnew()" dark slot="activator" class="mb-2">Nuova Serie</v-btn>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-layout row align-left>
                      <v-flex xs6 sm6 md6 class="px-1"  >
                        <v-text-field label="Nome" v-model="editedItem.ser_nome"></v-text-field>
                      </v-flex>
                      <v-flex xs6 sm16 md6 class="px-1" >
                        <v-text-field label="Costruttore" v-model="editedItem.ser_costruttore"></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row align-left>
                      <v-flex xs6 sm6 md6 class="px-1"  >
                      </v-flex>
                      <v-flex xs6 sm16 md6 class="px-1" >
                        <v-text-field label="Filtro Componenti" prepend-icon="search" @input="valuex => fetchDataComponent(valuex)" ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row align-left>
                      <v-flex xs6 sm6 md6 class=" componenti px-1"  >
                        <span class="title" >Componenti della Serie</span>
                        <v-list class="lista" two-line subheader>
                          <draggable v-model="componentiinstallati" class="dragArea" :options="{ onChoose:choose, onStarted:started, onEnd:ended, group:{ name:'componentmachine', put:true, pull:pulledItem }}"  >
                            <template v-for="(item, index) in componentiinstallati">
                              <v-list-tile :key="index+'AAA'" >
                                <v-list-tile-content>
                                  <v-list-tile-title v-html="item.com_nome"></v-list-tile-title>
                                  <v-list-tile-sub-title><span class="com_chiave"  >{{ item.com_chiave }}</span> - <span clas="com_codice" >{{ item.com_codice }}</span> - <span class="com_vita" >{{ item.com_vita }}</span></v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                  <v-btn icon ripple @click="clickRemoved(item)"  >
                                    <v-icon color="error">remove_circle_outline</v-icon>
                                  </v-btn>
                                </v-list-tile-action>
                              </v-list-tile>
                            </template>
                            <template v-if="componentiinstallati.length === 0 ">
                              <v-list-tile class="emptydrag" @click="">
                                <v-list-tile-content  >
                                  <v-list-tile-title>AGGIUNGI UN ELEMENTO</v-list-tile-title>
                                  <v-list-tile-sub-title class="text-xs-center" ><v-icon large >swap_horiz</v-icon></v-list-tile-sub-title>
                                </v-list-tile-content>
                              </v-list-tile>
                            </template>
                          </draggable>
                        </v-list>
                      </v-flex>
                      <v-flex xs6 sm16 md6 class="px-1 componenti disponibili"  >
                        <span class="title" >Componenti disponibili</span>
                        <v-list class="lista" two-line>
                          <!--draggable v-model="componentidisponibil" class="dragArea" :options="{group:{ name:'componentmachine', put:false, pull:'clone'} }"-->
                          <draggable v-model="componentidisponibil" class="dragArea" :options="{group:{ name:'componentmachine', put:false} }">
                            <template v-for="(item, index) in componentidisponibil">
                              <v-list-tile :key="index+'BBB'">
                                <v-list-tile-content>
                                  <v-list-tile-title v-html="item.com_nome"></v-list-tile-title>
                                  <v-list-tile-sub-title><span class="com_chiave"  >{{ item.com_chiave }}</span> - <span clas="com_codice" >{{ item.com_codice }}</span> - <span clas="com_vita" >VITA {{ item.com_vita }}</span>  </v-list-tile-sub-title>
                                </v-list-tile-content>
                              </v-list-tile>
                            </template>
                            <template class="emptydrag" v-if="componentidisponibil.length === 0 ">
                              <v-list-tile >
                                <v-list-tile-content>
                                  <v-list-tile-title>NESSUN ELEMENTO DISPONBILE</v-list-tile-title>
                                  <v-list-tile-sub-title class="text-xs-center"  ><v-icon large >swap_horiz</v-icon></v-list-tile-sub-title>
                                </v-list-tile-content>
                              </v-list-tile>
                            </template>
                          </draggable>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="close()">Cancella</v-btn>
                    <v-btn color="blue darken-1" flat @click.native="save">Salva</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogdelete" max-width="290">
                <v-card>
                  <v-card-title class="headline">Sei sicuro di voler cancellare la Serie</v-card-title>
                  <v-card-text>Cancellando la serie, i componenti torneranno disponibili E la macchina perderà il riferimento alla serie.</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat="flat" @click.native="closedelete()">Cancella</v-btn>
                    <v-btn color="blue darken-1" flat="flat" @click.native="deleteConfirmed">Conferma</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card>
            <v-card>
              <v-card-text class="mt-2">
                <v-data-table
                  :headers="headers"
                  :items="items"
                  :loading="loading"
                  class="elevation-1"
                  prev-icon="mdi-menu-left"
                  next-icon="mdi-menu-right"
                  sort-icon="mdi-menu-down"
                >
                  <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-right id-table">{{ props.item.ser_id }}</td>
                    <td class="text-xs-left">{{ props.item.ser_nome }}</td>
                    <td class="text-xs-left">{{ props.item.ser_costruttore }}</td>
                    <td class="text-xs-left" v-if=" props.item.comps != null " >{{ props.item.comps.length }}</td>
                    <td class="text-xs-left" v-if=" props.item.comps == null " >0</td>
                    <td class="justify-center layout px-0">
                      <v-btn icon class="mx-0" @click="editItem(props.item)">
                        <v-icon color="teal">edit</v-icon>
                      </v-btn>
                      <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                        <v-icon color="pink">delete</v-icon>
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-flex>
      </v-slide-y-transition>
    </v-slide-y-transition>
    <v-snackbar
        :color=color
        :timeout="6000"
        :multi-line="false"
        v-model=snackbar
      >
      {{message }}
      <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
    </v-snackbar>
  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<script>
  import globalAxios from 'axios'
  import store  from '../store'
  import Sortable from 'sortablejs'
  import draggable from 'vuedraggable'
  var _ = require('lodash')

  export default {
    name: 'about',
    components: {
      draggable,
    },

    beforeCreate: function(){
      this.loading = true
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
      globalAxios.get('/series/' ).then(res => {
        this.loading = false
        this.items = res.data
      }).catch(error=>{console.log(error)})
    },
    created: function(){
      this.getComponent(0)
    },
    data() {
      return {
        e11: null,
        items:[],
        pagination: {
          rowsPerPage: 4
        },

        loading: false,
        headers: [
          { text: 'Id', value: 'ser_id' , class:'id-table' , align: 'left' },
          { text: 'Nome', value: 'ser_nome' , align: 'left' },
          { text: 'Costruttore', value: 'ser_costruttore' , align: 'left'  },
          { text: 'N° Componenti', value: 'ser_components' , align: 'left' },
          { text: 'modifica/elimina', value: '', align: 'center' }
        ],

        editedIndex: -1,
        componentidisponibil:[],
        componentiinstallati:[],
        dialog:false,
        rowsPerPageItems: [10, 15, 20],
        mydialog: false,
        dialogdelete:false,
        editedItem: {
          ser_id: -1,
          ser_nome: '',
          ser_costruttore: "",
          ser_components: []
        },
        elementtoRemove:{
          index:-1,
          pulled:false
        },
        //snackbar
        snackbar:false,
        color:"error",
        message:""
      }
    },
    methods: {
      clickRemoved(item){
        var index = this.componentiinstallati.indexOf(item);
        if (index > -1) {
          this.componentiinstallati.splice(index, 1);
        }
        this.getComponent(0,false)
      },
      fetchDataComponent(query) {
        console.log("fetch")
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        let path = '/searchcomponents/'+query+'/'
        if(query=="")
          path = '/components/'
        globalAxios.all([
          globalAxios.get( path )
        ]).then( globalAxios.spread((res)=>{

          /*let currentcomps = this.componentiinstallati
          console.log("1.",  res.data )
          console.log("2.", this.componentiinstallati )
          console.log("3.", _.differenceWith( res.data , this.componentiinstallati, _.isEqual))*/

          this.componentidisponibil = _.differenceBy( res.data , this.componentiinstallati, 'com_chiave')
        })).catch(error=>{console.log(error)});
      },
      snack(messaggio, colore){
        this.message=messaggio;
        this.color=colore;
        this.snackbar=true;
      },
      started(evt){
        //console.log("started")
      },
      ended(evt){
        //console.log("ended")
      },
      choose(evt){
        //console.log("choose")
      },
      pulledItem(to, fromx, aa, zzz, xxx ){
        return false
      },
      fetchDataFromApi(query) {
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        this.loading = true
        let path = '/searchseries/'+query+'/'
        if(query=="")
          path = '/series/'
        globalAxios.all([
          globalAxios.get( path )
        ]).then( globalAxios.spread((res)=>{
          //let currentcomps = this.componentiinstallati
          this.loading = false
          this.items = res.data
          //this.componentidisponibil = _.differenceBy( res.data , this.componentiinstallati, 'com_chiave')
        })).catch(error=>{console.log(error)});
        // Use Axios or whatever you like to retrieve updated search results into items
      },
      loadseriesnew(){
        this.clearData()
        this.getComponent(0)
      },
      editItem (item) {
        this.editedIndex = this.items.indexOf(item)
        //this.getComponent(0)
        this.getComponent(item.ser_id)
        this.mydialog = true
        this.editedItem.ser_id = item.ser_id
        this.editedItem.ser_nome = item.ser_nome
        this.editedItem.ser_costruttore = item.ser_costruttore
        this.editedItem.ser_components = item.comps
        this.componentiinstallati = item.comps

        /*console.log("0",this.componentiinstallati)
        console.log("1",this.componentidisponibil)
        console.log("2",_.differenceBy(  this.componentidisponibil, this.componentiinstallati, 'com_chiave'))
        console.log("3",_.differenceWith( this.componentidisponibil , this.componentiinstallati, _.isEqual))*/
      },
      deleteItem (item) {
        //const index = this.items.indexOf(item)
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogdelete = true
      },
      deleteConfirmed () {
        globalAxios.delete("/serie/"+this.editedItem.ser_id+"/", this.editedItem).then(res => {
          console.log("deleted ", this.editedIndex)
          this.items.splice(this.editedIndex, 1)
          this.dialogdelete = false
          this.closedelete()
          this.snack("Serie eliminata correttamente","info")
        }).catch(error=>{
          //console.log(error)
          //this.dialogdelete = false
          this.closedelete()
          this.snack("impossibile eliminare la serie","error")
        })
      },
      close() {
        this.e11 = null
        this.mydialog = false;
      },
      closedelete() {
        this.e11 = null
        this.dialogdelete = false;
      },
      clearData(){
        this.editedIndex = -1
        this.editedItem = {
          ser_id: -1,
          ser_nome: '',
          ser_costruttore: "",
          ser_components: []
        }
        this.componentiinstallati = []
      },
      save () {
        let currentAPICall = ""
        if(this.editedItem.ser_id > -1){
          currentAPICall = "/serie/"+this.editedItem.ser_id+"/"
        }
        else{
          currentAPICall = "/series/"
        }
        if(this.e11 !== null )
          this.editedItem.group_ref = this.e11
        else
          this.editedItem.group_ref = ""
        this.editedItem.ser_components = this.componentiinstallati
        let messaggio = "serie " +(this.editedItem.ser_id > -1?"modificata":"creata")+" con successo"
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        globalAxios.post(currentAPICall, this.editedItem).then(res => {
          if (currentAPICall !== "/series/" ) {
            Object.assign(this.items[this.editedIndex], this.editedItem)
          } else {
            this.editedItem.ser_id =  res.data.ser_id
            this.items.push(this.editedItem)
          }
          globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
          globalAxios.get('/series/' ).then(resx => {
            console.log(resx.data)
            this.loading = false
            this.items = resx.data
            this.close()
            this.snack(messaggio,"info")
          }).catch(error=>{console.log(error)})

        }).catch(error=>{
          let messaggio = "impossibile " +(this.editedItem.ser_id > -1?"modificare":"creare")+" la serie"
          this.snack(messaggio,"error")
          this.close()
        })
      },
      async getComponent(index, reloadcom=true) {
        globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
        let myLink=[]
        myLink.push('/components/')
        if(index!=0 && reloadcom)
          myLink.push('/components/'+index+'/serie/')
        await globalAxios.all([
          globalAxios.get(...myLink),
        ]).then(globalAxios.spread((res, machineress) => {
          this.loading = false
          if(arguments.length == 2 && reloadcom ) {
            if (machineress == Null) {
              this.componentiinstallati = []
            }
            else {
              this.componentiinstallati = machineress.data
            }
          }
          if(index==0 && reloadcom)
            this.componentiinstallati = []
          this.componentidisponibil = _.differenceBy( res.data , this.componentiinstallati, 'com_chiave')
        })).catch(error => {
          console.log(error)
        })
        return true
      },
    },
    watch:{
      search (val) {
        val && this.querySelections(val)
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuova Serie' : 'Modifica Serie'
      }
    },
  }
</script>
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .componenti{
    padding: 10px;
  }
  .componenti .lista {
    margin-top:30px;
  }
  .disponibili {
    background-color: #e0e0e0;
  }
  .emptydrag {
    background-color: #E3F2FD;
    border: 2px dashed #e0e0e0;
  }
  .lista {
    max-height: 320px !important;
    overflow-y: auto;
  }

</style>
