<template>
  <v-container>
  <v-form v-model="valid" ref="form" lazy-validation>
    <v-layout row wrap>
    <v-flex xs12 class="text-xs-left display-1" mt-5>
      <h3>Crea Reparto</h3>
      <v-divider dark ></v-divider>
    </v-flex>
    <v-flex xs12 sm12>
      <v-text-field
        label="Name"
        v-model="name"
        :rules="nameRules"
        :counter="10"
        required
      ></v-text-field>
    </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm12>
        <v-text-field
          label="Descrizione"
          v-model="descrizione"
          :rules="nameRules"
          required
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-btn
      @click="submit"
      :disabled="!valid"
    >
      submit
    </v-btn>
    <v-btn @click="clear">clear</v-btn>
  </v-form>
  </v-container>
</template>

<script>
    import globalAxios from 'axios'
    import store  from '../store'

    export default {
        data: () => ({
          valid: false,
          name: '',
          descrizione:'',
          select: [],
          items:[],
          serial:"",
          nameRules: [
            v => !!v || 'Name is required',
            v => v.length <= 50 || 'Name must be less than 10 characters'
          ],
          email: ''
          }
        ),
        methods: {
          clear:function(){ console.log("aaaa")},
          submit:function () {
            const formData = {
                name: this.name,
                descrizione: this.descrizione,
            }
            globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
            globalAxios.post('/reparti/', {formData}).then(res => {
              console.log(res)
              //this.loading = false
              //this.items = res.data
            }).catch(error=>{console.log(error)})
          },
          checkbox:function(){
            console.log("dddd")
          }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
