<template>

  <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="indigo">
                <v-toolbar-title  >Register Form</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="login" label="Login" v-model="username" type="text" id="login" required></v-text-field>
                  <v-text-field prepend-icon="person" name="name" label="Nome" v-model="name" type="text" id="name" required></v-text-field>
                  <v-text-field prepend-icon="person" name="surname" label="Cognome" v-model="surname" type="text" id="surname" required></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" v-model="password" id="password" type="password" required></v-text-field>
                  <v-text-field prepend-icon="lock" name="passwordc" label="Confirm Password" v-model="passwordc" id="passwordc" type="password" required></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="indigo" type="submit" @click="onSubmit" dark>Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-snackbar color="error"
              :timeout="timeout"
              :multi-line="multiLine"
              v-model="snackbar"
            >
            {{ error }}
            <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
          </v-snackbar>
  </v-layout>
</template>

<script>
export default {
  name: 'about',
  data(){
    return {
        name: '',
        password: '',
        passwordc: '',
        surname:'',
        multiLine: false,
        timeout:6000,
        snackbar:false,
        username:""
      }
  },
  computed: {
    error() {
      return this.$store.getters.errors
    }
  },
  methods:{
    onSubmit() {
        this.$store.dispatch('storeErrors', '')

        this.$store.dispatch('signup', {  username:this.username, password:this.password, first_name:this.name, last_name:this.surname  }).then(()=>{
          //console.log("1."+(this.$store.getters.errors.length === 0 || !this.$store.getters.errors.trim()).toString())
          //console.log("2."+(this.$store.getters.errors.length))
          // funzione per  fare il check della string vuota
           if(this.$store.getters.errors.length === 0 || !this.$store.getters.errors.trim()){
              this.snackbar = false
           }else{
              this.snackbar = true
           }
        })
      },
      checkKeyStroke($event){
          if($event.key == "Enter")
            this.onSubmit();
            //console.log($event.key);
      }
  }
}
</script>

<style scoped>

</style>
