<template>
  <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="indigo">
                <v-toolbar-title  >Login form</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="login" label="Login" type="text" id="login" v-model="username" @keyup="checkKeyStroke" required></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password" v-model="password" required  @keyup="checkKeyStroke($event)" ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="indigo" type="submit" @click="onSubmit"  dark>Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-snackbar color="error"
              :timeout="timeout"
              :multi-line="multiLine"
              v-model="snackbar"
            >
            {{ error }}
            <v-btn dark flat @click.native="snackbar = false" @ >Close</v-btn>
          </v-snackbar>
  </v-layout>
</template>

<script>
export default {
  name: 'about',
  data(){
      return {
        username: '',
        password: '',
        multiLine: false,
        timeout:6000,
        snackbar:false
      }
  },
  methods: {
      onSubmit() {
        this.$store.dispatch('storeErrors', '')
        const formData = {
          username: this.username,
          password: this.password,
        }
        this.$store.dispatch('login', {  email:formData.username, password:formData.password }).then(()=>{
          //console.log("1."+(this.$store.getters.errors.length === 0 || !this.$store.getters.errors.trim()).toString())
          //console.log("2."+(this.$store.getters.errors.length))
          // funzione per  fare il check della string vuota
           if(this.$store.getters.errors.length === 0 || !this.$store.getters.errors.trim()){
              this.snackbar = false
           }else{
              this.snackbar = true
           }
        })
      },
      checkKeyStroke($event){
          if($event.key == "Enter")
            this.onSubmit();
            //console.log($event.key);
      }
  },
  computed: {
    error(){
      return this.$store.getters.errors
    },
  }
}
</script>

<style scoped>

</style>

