<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
          <v-layout column align-left>
              <v-flex xs12 class="text-xs-left display-1" mt-5>
              <h3>Lista Allarmi</h3>
              <v-divider dark ></v-divider>
              </v-flex>
          <v-text-field @input="value => fetchDataFromApi(value)"></v-text-field>
          <v-data-table
              :headers="headers"
              :items="items"
              :loading="loading"
              hide-actions
              class="elevation-1"
          >
          <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ getYupDate(props.item.all_date) }}</td>
            <td class="text-xs-left">{{ props.item.all_messaggioallarme }}</td>
            <td class="text-xs-left">{{ props.item.all_numeroallarme }}</td>
            <td class="text-xs-left">{{ props.item.all_numerowarning }}</td>
            <td class="text-xs-left">{{ props.item.all_messaggiowarning }}</td>
          </template>
        </v-data-table>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<script>
    import globalAxios from 'axios'
    import store  from '../store'
    import * as moment from 'moment'

    export default {
      name: 'about',
      beforeCreate: function(){
          //console.log(".........")
          globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
          globalAxios.get('/allarmi/' ).then(res => {
            this.loading = false
            this.items = res.data
          }).catch(error=>{console.log(error)})
      },
      data() {
        return {
             headers: [
                  {
                    text: 'Date',
                    align: 'left',
                    sortable: false,
                    value: 'all_date'
                  },
                  { text: 'Messaggio', value: 'all_messaggioallarme', align: 'left'},
                  { text: 'Numero', value: 'all_numeroallarme', align: 'left' },
                  { text: 'Numero Warning', value: 'all_numerowarning', align: 'left' },
                  { text: 'Messaggio Warning', value: 'all_messaggiowarning', align: 'left' }
             ],
             loading:true,
             items:[]
        }
      },
      methods: {
            fetchDataFromApi(query) {
                // Use Axios or whatever you like to retrieve updated search results into items
                //axios.get(`api/search?q=${query}`)
                ///    .then(response => this.items = response);
                console.log("aaaa")
            },
            getYupDate(date){
              return date.slice(0,10)+' '+date.slice(11,19)
              //return moment(date).format("DD/MM/YYYY HH:MM:SS")
            }
      },

    }
</script>
