<template>
  <v-app id="inspire">
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app v-if="auth"
    >
      <v-list class="drawer-box" dense  >
        <v-list class="drawer-title-box "   >
          <v-list-tile avatar class="title-box" >
            <v-list-tile-avatar>
              <img src=@/assets/account.png >
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title><span class="usernametitle title">{{ userin.username.padEnd(10) }}</span></v-list-tile-title>
              <v-list-tile-sub-title>{{ (userin.first_name +" "+userin.last_name ).padEnd(100) }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list dense>
          <v-list-tile
            v-for="item in menuItems"
            :key="item.title"
            :to="item.path" v-if=" ((auth === item.auth) || item.always ) && ( item.position === 'left' || item.position === 'all' ) && checkMyRole(item.matchgroup) && item.path != '/createmachine' " >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>{{ item.title }}</v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="auth" ></v-toolbar-side-icon>
      <v-toolbar-title>Octo</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn
          flat
          v-for="item in menuItems"
          :key="item.title"
          :to="item.path" v-if="((auth === item.auth) || item.always ) && ( item.position === 'head' || item.position === 'all' ) " >
          <v-icon left dark>{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
        <v-btn flat @click="onLogout" v-if="auth" >
          <v-icon left dark>eject</v-icon>logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text  ml-3">&copy; 2018 - 19 - Cns </span>
      <div class="white--text  ml-3" style="margin-left: 8px">  Version: {{version}}</div>
    </v-footer>
  </v-app>
</template>

<script>

  /**
   *  posizioni del menu
   *
   *  head
   *  left
   *  foot
   *
   *  all
   */

  import {fetch as fetchPolyfill} from 'whatwg-fetch'
  import globalAxios from 'axios'
  export default {
    beforeCreate: function(){
      let vm=this;
      // Faccio il fetch del file di ccnfigurazione Octo/dist/static/config.json
      fetchPolyfill('/static/config.json')
        .then(function(response) {
          return response.json()
        }).then(function(myConfigx) {
        //imposto il valore che ho letto dal file di configurazione
        vm.version=myConfigx.app_version
      }).catch(function(ex) {
        console.log('file statico di configurazione non presente o non corretto ', ex)
      })

    },
    /*
    mounted: function(){
      //lettura permessi utente
      console.log('mounted')
      let bodyFormData = new FormData();
      bodyFormData.append('codpermesso', 'view_componenti');
      globalAxios.defaults.headers.common["Authorization"] = 'JWT '+this.$store.getters.getMyToken
      globalAxios.post('/ctrlPermessi/', bodyFormData)
        .then(res => {
          if(res.data.autorizzazione){
            this.menuItems.push({ title: 'Componenti', path: '/components', icon: 'build' , auth:true , always:false , position:'left' , matchgroup:['*'] })
          }
        }).catch(error => { console.log(error) })
      let bodyFormDataSerie = new FormData();
      bodyFormDataSerie.append('codpermesso', 'view_serie');
      globalAxios.post('/ctrlPermessi/', bodyFormDataSerie)
        .then(res => {
          if(res.data.autorizzazione){
            this.menuItems.push({ title: 'Serie', path: '/series', icon: 'chrome_reader_mode' , auth:true , always:false , position:'left' , matchgroup:['*'] })
          }
        }).catch(error => { console.log(error) })
    },*/
    data () {
      return {
        drawer: null,
        appTitle: 'CNS - OCTO',
        sidebar: false,
        version:'',
        menuItems: [
          { title: 'Home', path: '/myhome', icon: 'home' , auth:true , always:false , position:'all' , matchgroup:['*']  },
          { title: 'Produzione', path: '/produzione', icon: 'assignment' , auth:true , always:false , position:'left', matchgroup:['*'] },
          { title: 'Crea Macchine', path: '/createmachine', icon: 'settings' , auth:true , always:false , position:'left' , matchgroup:['*'] },
          { title: 'Le mie macchine', path: '/allmachine', icon: 'subject' , auth:true , always:false , position:'left' , matchgroup:['*'] },
          { title: 'Reparti', path: '/reparti', icon: 'picture_in_picture_alt' , auth:true , always:false , position:'left', matchgroup:['*'] },
          //{ title: 'Componenti', path: '/components', icon: 'build' , auth:true , always:false , position:'left' , matchgroup:['*'] },
          //{ title: 'Serie', path: '/series', icon: 'chrome_reader_mode' , auth:true , always:false , position:'left' , matchgroup:['*'] },
          { title: 'User Group', path: '/usergroup', icon: 'account_box' , auth:true , always:false , position:'left' , matchgroup:['*'] },
          //{ title: 'Statistische Produzione', path: '/statisticheproduzione', icon: 'timeline' , auth:true , always:false , position:'left' , matchgroup:['*'] },
          { title: 'Statistische Monitoring', path: '/statistichemonitoring', icon: 'report_problem' , auth:true , always:false , position:'left', matchgroup:['*'] },
          { title: 'New account', path: '/signup', icon: 'face', auth:false , always:false, position:'head', matchgroup:['*'] },
          { title: 'Log In', path: '/signin', icon: 'lock_open', auth:false, always:false, position:'head', matchgroup:['*'] }
        ]
      }
    },
    props: {
      source: String
    },
    computed:{
      auth(){
        return this.$store.getters.isAuthenticated
      },
      userin(){
        //lettura permessi utente
        //console.log('mounted')
        let bodyFormData = new FormData();

        let hd =null;
        bodyFormData.append('codpermesso', 'view_componenti');
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+this.$store.getters.getMyToken;
        globalAxios.post('/ctrlPermessi/', bodyFormData)
          .then(res => {
            if(res.data.autorizzazione){
              hd={ title: 'Componenti', path: '/components', icon: 'build' , auth:true , always:false , position:'left' , matchgroup:['*'] };
              if (!this.checkHeader(hd.title))
                this.menuItems.push(hd)
            }
          }).catch(error => { console.log(error) });
        let bodyFormDataSerie = new FormData();
        bodyFormDataSerie.append('codpermesso', 'view_serie');
        globalAxios.post('/ctrlPermessi/', bodyFormDataSerie)
          .then(res => {
            if(res.data.autorizzazione){
              hd= { title: 'Serie', path: '/series', icon: 'chrome_reader_mode' , auth:true , always:false , position:'left' , matchgroup:['*'] };
              if (!this.checkHeader(hd.title))
                this.menuItems.push(hd)
            }
          }).catch(error => { console.log(error) });
        return this.$store.getters.user
      },

    },
    methods: {
      onLogout(){
        this.$store.dispatch('logout')
      },
      checkMyRole(pageroles){
        // TODO  fare il match con lodash verficare se è * altrimenti se c'è un interesezione con dei valori.
        //console.log(pageroles, "test")
        return true
      },
      checkHeader(title){
        let i=0;
        for (i=0; i<this.menuItems.length; i++){
          let hd= this.menuItems[i];
          if(hd.title==title) return true
        }
        return false
      }
    },
    /*beforeCreate(){
       this.$store.dispatch('tryAutoLogin')
   }*/
  }
</script>

<style lang="stylus">
  .title-box {
    padding-top: 95px !important
  }
  .usernametitle {
    width:100%
  }
  @import './stylus/main'
</style>
