<template>
  <v-container>
    <v-card>
      <v-card-text>
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-layout row wrap justify-space-between>
            <v-flex xs12 class="text-xs-left display-1" mt-5>
              <h3 v-if="myid !== undefined"> Scheda macchina</h3>
              <h3 v-if="myid === undefined"> Crea la macchina</h3>
              <v-divider dark ></v-divider>
            </v-flex>
            <v-flex xs12 sm5>
              <v-text-field
                label="Name"
                v-model="MAC_nomeMacch"
                :rules="checklength(20)"
                :counter="20"
                :disabled="!perm.change"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm5>
              <v-select
              label="Reparto"
              :items="reparti"
              v-model="selectedReparto"
              item-value="rep_id"
              item-text="rep_name"
              :rules="[v => !!v || 'Item is required']"
              :disabled="!perm.change"
              required
            ></v-select>
            </v-flex>

            <v-flex xs12 sm5>
              <v-text-field
                label="Soprannome"
                v-model="MAC_soprannomeMacch"
                :rules="checklength(20)"
                :counter="20"
                :disabled="!perm.change"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm5>
              <v-select
                label="Controllo Numerico"
                :items="controlli"
                v-model="MAC_controlloNumerico"
                :rules="[v => !!v || 'Item is required']"
                :disabled="!perm.change"
                required
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap justify-space-between >

            <v-flex xs12 sm5>
              <v-select
                label="Tipo Macchina"
                :items="tipi_mac"
                v-model="MAC_tipoMacchina"
                :rules="[v => !!v || 'Item is required']"
                :disabled="!perm.change"
                required
                item-text="typ_tipomacchina"
                item-value="typ_tipomacchina"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm5>
              <v-select
                label="Tipo controllo"
                :items="tipi_controllo"
                v-model="MAC_tipoControllo"
                :rules="[v => !!v || 'Item is required']"
                :disabled="!perm.change"
                required
                item-text="typ_tipocontrollo"
                item-value="typ_tipocontrollo"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm5>
              <v-text-field
                label="IP"
                v-model="MAC_ipAdress"
                :rules="ipAddressRules"
                :disabled="!perm.change"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm5>
              <v-text-field
                label="IP 2"
                v-model="MAC_ipAdress2"
                :rules="checklength(20, false)"
                :counter="20"
                :disabled="!perm.change"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap justify-space-between >
            <v-flex xs12 sm5>
              <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="uploaded" :disabled="!perm.change" ></vue-dropzone>
            </v-flex>
            <v-flex xs12 sm5 class="text-sm-center imgcontainer  pa-2"   >
              <img v-if=" urlImage == '' " src="https://www.fanuc.co.jp/en/product/roboshot/image/alphas100ia_large.jpg" width="100%" />
              <img v-else :src=myurlImage width="100%" />
            </v-flex>
          </v-layout>
          <v-layout row wrap justify-space-between >
            <v-flex xs12 sm5>
              <v-text-field
                label="Serial"
                v-model="MAC_serialNumber"
                :rules="checklength(20, false)"
                :counter="20"
                :disabled="!perm.change"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm5>
              <v-layout row wrap justify-space-between >
                <v-flex xs12 class="py-2">
                  <v-btn @click="openDialogSerie" :disabled="!perm.change" >SERIE O COMPONENTI</v-btn>
                  <div v-if=" currentSerie.id > 0 || componentitosend.length > 0 " ><span class="caption" v-if=" currentSerie.id > 0" >Serie&nbsp;<b>{{ currentSerie.descrizione }}</b></span><span class="caption" v-if=" currentSerie.id > 0 && componentitosend.length > 0 " >&nbsp;|&nbsp;</span> <span class="caption" v-if=" componentitosend.length > 0 " ><b>{{ componentitosend.length }}</b>&nbsp;componenti</span></div>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <v-layout row wrap justify-space-between  style="margin-bottom: 5px">
            <v-flex xs12 sm5>
              <label></label>
              <v-card >
                <v-card-title>
                  Assi
                </v-card-title>
                <v-card-text>
                  <v-layout row wrap justify-space-between text-xs-center>
                    <v-flex xs4  v-for="(item, index) in assi">
                      <v-checkbox v-model="assi_sel" :items="assi" :label="item" :value="item" :disabled="!perm.change"></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-card-text>

              </v-card>

            </v-flex>
            <!-- camera -->
            <v-flex xs12 sm5>
              <v-card >
              <v-card-title>
                <v-flex xs12>
                  <v-checkbox
                    label="Camera "
                    v-model="MAC_boolCamera"
                    required
                  ></v-checkbox>
                </v-flex>
              </v-card-title>
              <v-card-text>
                <v-layout row wrap justify-space-between v-if="MAC_boolCamera" >
                  <v-flex xs12 sm6>
                    <v-text-field
                      label="IP Camera"
                      v-model="MAC_ipAdressCamera"
                      :rules="ipAddressRules"
                      :disabled="!perm.change"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm5>
                    <v-text-field
                      label="Porta Camera"
                      v-model="MAC_portaCamera"
                      :rules="checklength(20, false)"
                      :counter="20"
                      :disabled="!perm.change"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      label="Comando Camera"
                      v-model="MAC_comandoCamera"
                      :rules="checklength(20, false)"
                      :disabled="!perm.change"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm5>
                    <v-text-field
                      label="Camera Mode"
                      v-model="MAC_modeCamera"
                      :rules="checklength(20, false)"
                      :disabled="!perm.change"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-text>

            </v-card>
            </v-flex>



          </v-layout>




          <!-- Ftp Fagor-->
          <v-card v-if="MAC_controlloNumerico==='Fagor'" class="mb-5" style="padding: 3px; border:3px; ">
            <v-card-title>Share Fagor</v-card-title>
            <v-card-text>
              <v-layout row wrap justify-space-between >
                <v-flex xs12 sm3>
                  <v-text-field
                    label="Username"
                    v-model="MAC_userUsername"
                    :rules="checklength(50, false)"
                    :counter="50"
                    :disabled="!perm.change"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                  <v-text-field
                    label="Password"
                    v-model="MAC_userPassword"
                    :rules="checklength(50, false)"
                    :counter="50"
                    :disabled="!perm.change"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                  <v-text-field
                    label="path files"
                    v-model="MAC_pathshare"
                    :rules="checklength(50, false)"
                    :counter="50"
                    :disabled="!perm.change"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
          <!-- reparto -->

        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="submit" :disabled="!(valid && perm.change)" > Salva </v-btn>
        <v-btn @click="clearAllData" :disabled="!perm.change"> Cancella </v-btn>
        <v-btn @click="closeDialog"> Chiudi </v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog v-model="mydialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Componenti e Reparti</span>
        </v-card-title>
        <v-card-text>
          <v-layout row align-left>
            <!-- IMPOST LE SERIE DA LEGGERE -->
            <v-select
              label="Serie disponibili"
              :items="series"
              v-model="selectedSerie"
              item-value="ser_id"
              item-text="ser_nome"
              required
              @input="changeSelect"
            ></v-select>
          </v-layout>
          <v-layout>
            <v-flex xs12 sm12 md12 class="px-1" >
              <div id="elementSeries" class="text-xs-left">
                <v-chip outline color="red" v-for="(itemc, index) in componentfromSeries"  >
                  <v-icon color="red" left>build</v-icon>{{ itemc.com_nome }}
                </v-chip>
              </div>
            </v-flex>
          </v-layout>
          <v-layout row align-left>
            <v-flex xs6 sm6 md6 class="px-1"  >

            </v-flex>
            <v-flex xs6 sm16 md6 class="px-1" >
              <v-text-field label="Filtro Componenti" prepend-icon="search" @input="valuex => fetchDataComponent(valuex)" ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row align-left>
            <v-flex xs6 sm6 md6 class=" componenti px-1"  >
              <span class="title" >Componenti Aggiuntivi</span>
              <v-list class="lista" two-line subheader>
                <draggable v-model="componentiinstallati" class="dragArea" :options="{ group:{ name:'componentmachine', put:true, pull:pulledItem }}"  >
                  <template v-for="(item, index) in componentiinstallati">
                    <v-list-tile :key="index+'AAA'" >
                      <v-list-tile-content>
                        <v-list-tile-title v-html="item.com_nome"></v-list-tile-title>
                        <v-list-tile-sub-title><span class="com_chiave"  >{{ item.com_chiave }}</span> - <span clas="com_codice" >{{ item.com_codice }}</span> - <span class="com_vita" >{{ item.com_vita }}</span></v-list-tile-sub-title>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <v-btn icon ripple @click="clickRemoved(item)"  >
                          <v-icon color="error">remove_circle_outline</v-icon>
                        </v-btn>
                      </v-list-tile-action>
                    </v-list-tile>
                  </template>
                  <template v-if="componentiinstallati.length === 0 ">
                    <v-list-tile class="emptydrag" @click="">
                      <v-list-tile-content  >
                        <v-list-tile-title>AGGIUNGI UN ELEMENTO</v-list-tile-title>
                        <v-list-tile-sub-title class="text-xs-center" ><v-icon large >swap_horiz</v-icon></v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </draggable>
              </v-list>
            </v-flex>
            <v-flex xs6 sm16 md6 class="px-1 componenti disponibili"  >
              <span class="title" >Componenti disponibili</span>
              <v-list class="lista" two-line>
                <draggable v-model="componentidisponibil" class="dragArea" :options="{group:{ name:'componentmachine', put:false, pull:'clone'} }">
                  <template v-for="(item, index) in componentidisponibil">
                    <v-list-tile :key="index+'BBB'">
                      <v-list-tile-content>
                        <v-list-tile-title v-html="item.com_nome"></v-list-tile-title>
                        <v-list-tile-sub-title><span class="com_chiave"  >{{ item.com_chiave }}</span> - <span clas="com_codice" >{{ item.com_codice }}</span> - <span clas="com_vita" >VITA {{ item.com_vita }}</span>  </v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                  <template class="emptydrag" v-if="componentidisponibil.length === 0 ">
                    <v-list-tile >
                      <v-list-tile-content>
                        <v-list-tile-title>NESSUN ELEMENTO DISPONBILE</v-list-tile-title>
                        <v-list-tile-sub-title class="text-xs-center"  ><v-icon large >swap_horiz</v-icon></v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </draggable>
              </v-list>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="close()">Cancella</v-btn>
          <v-btn color="blue darken-1" flat @click.native="ok()">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.css'
  import globalAxios from 'axios'
  import store  from '../../store'
  import Sortable from 'sortablejs'
  import draggable from 'vuedraggable'
  var _ = require('lodash')

  export default {
    components: {
      vueDropzone: vue2Dropzone,
      draggable,
    },
    props:['myid'],
    beforeCreate: function(){
      this.loading = true
      //lettura permessi utente
      let bodyFormData = new FormData();
      bodyFormData.append('nomeModello', 'macchine');
      globalAxios.post('/ctrlPermessiStd/', bodyFormData)
        .then(res => {
          this.perm=res.data.perm;
          console.log('Permessi:',this.perm)
          if (this.perm.view){
            globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
            globalAxios.get('/reparti/').then(res => {
              this.reparti = res.data
            }).catch(error => {
              this.$router.push('/404')
            })
            globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
            globalAxios.get('/series/').then(res => {
              this.series = res.data
            }).catch(error => {
              //alert(error)
              this.$router.push('/404')
            })
            globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
            globalAxios.get('/type_machine/').then(res => {
              this.types = res.data;
              this.types.forEach(tipo=>{
                if( this.controlli.indexOf(tipo.typ_controllonumerico)===-1){
                  this.controlli.push(tipo.typ_controllonumerico)
                }
              });
            }).catch(error => {
              console.log(error)
            })
          }
        }).catch(error => { console.log(error) })

    },
    created:function(){
      console.log("AAAA")
      if (typeof this.myid === "undefined") {
        //this.clearAllData()
      }
      else {
        globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken;
        globalAxios.all([
          globalAxios.get('/macchina/' + this.myid + "/"),
          globalAxios.get('/series/'),
          globalAxios.get('/allcomponentbyMachine/' + this.myid + "/")
        ]).then(globalAxios.spread((res, cseries, mycoponnt) => {
          console.log(res)
          this.componentiFromMachine = mycoponnt.data

          this.series = cseries.data
          if (res.data.mac_nomemacch)
            this.MAC_nomeMacch = res.data.mac_nomemacch
          if (res.data.mac_comandocamera)
            this.MAC_boolCamera = res.data.mac_boolcamera
          if (res.data.mac_comandocamera)
            this.MAC_comandoCamera = res.data.mac_comandocamera
          if (res.data.mac_controllonumerico)
            this.MAC_controlloNumerico = res.data.mac_controllonumerico
          if (res.data.mac_ipadress)
            this.MAC_ipAdress = res.data.mac_ipadress
          if (res.data.mac_ipaddress2)
            this.MAC_ipAdress2 = res.data.mac_ipaddress2
          if (res.data.mac_ipadresscamera)
            this.MAC_ipAdressCamera = res.data.mac_ipadresscamera
          if (res.data.mac_modecamera)
            this.MAC_modeCamera = res.data.mac_modecamera
          if (res.data.mac_portacamera)
            this.MAC_portaCamera = res.data.mac_portacamera
          if (res.data.mac_serialnumber)
            this.MAC_serialNumber = res.data.mac_serialnumber
          if (res.data.mac_soprannomemacch)
            this.MAC_soprannomeMacch = res.data.mac_soprannomemacch
          if (res.data.mac_tipocontrollo)
            this.MAC_tipoControllo = res.data.mac_tipocontrollo
          if (res.data.mac_reparto_id)
            this.selectedReparto = res.data.mac_reparto_id
          if (res.data.mac_userusername)
            this.MAC_userUsername = res.data.mac_userusername
          if (res.data.mac_userpassword)
            this.MAC_userPassword = res.data.mac_userpassword
          if (res.data.mac_pathshare)
            this.MAC_pathshare = res.data.mac_pathshare
          if (res.data.mac_tipomacchina)
            this.MAC_tipoMacchina = res.data.mac_tipomacchina
          if (res.data.mac_assi){
            this.assistring=res.data.mac_assi
            for(let i=0; i<res.data.mac_assi.length; i++){
              this.assi_sel.push(res.data.mac_assi[i])
            }
          }
          if (res.data.mac_numeroassi) {
            this.MAC_numeroAssi = res.data.mac_numeroassi
            for (let i = 0; i < this.MAC_numeroAssi; i++) {

            }
          }
          if (res.data.mac_vs_ser) {
            this.selectedSerie = res.data.mac_vs_ser
            if (this.selectedSerie != null) {
              var self = this
              this.serieindex = _.findIndex(this.series, function (o) {
                return o.ser_id == self.selectedSerie;
              });
              this.currentSerie.id = this.selectedSerie
              globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
              globalAxios.all([
                globalAxios.get('/serie/' + this.currentSerie.id + "/"),
              ]).then(globalAxios.spread((comps) => {
                // rimuovo gli elemtni dell'array presenti
                this.componentiFromMachine = _.differenceBy(this.componentiFromMachine, this.componentfromSeries, 'com_chiave')
                // imposto gli elementi selezionati
                this.componentfromSeries = comps.data.comps
                this.componentiFromMachine = _.union(this.componentiFromMachine, this.componentfromSeries)

              })).catch(function () {
                console.log("An error as accured");
              })
              this.currentSerie.descrizione = this.series[this.serieindex].ser_nome
            }
          }
          if (res.data.components != null) {
            if (res.data.components.length > 0) {
              this.componentiinstallati = res.data.components
              this.componentitosend = res.data.components
            }
          }
          if (res.data.mac_imagepath) {
            let mypath = res.data.mac_imagepath.replace(store.getters.mediapath, "")
            this.urlImage = mypath
            this.img.base64 = mypath
          }

          //
          //console.log("mycomponent", mycoponnt.data)
          //this.MAC_tipom =  res.data.mac_nomemacch
        })).catch(error => {
          alert(error)
          //this.$router.push('/404')
        })
      }
    },
    data: () => ({
        img:{
          name:"",
          base64:""
        },
        assi:['X','Y','Z','A','B','C', 'E', 'U', 'W'],
        assi_sel:[],
        assistring:"",
        serie: [],
        serieindex: -1,
        series: [],
        /// serie che controlla  la select nella modale
        selectedSerie: -1,
        ///  serie  da mandare in update e che verrà visualizzata
        currentSerie: {
          id: 0,
          descrizione: ""
        },
        /// gestione dei componenti
        /// modalità precedente
        components: [],
        // componenti disponibili
        componentidisponibil: [],
        // componenti installati
        componentiinstallati: [],

        componentitosend: [],
        componentfromSeries: [],
        componentiFromMachine: [],

        mydialog: false,
        valid: false,
        MAC_nomeMacch: '',
        MAC_ipAdress: '',
        MAC_ipAdress2: '',
        MAC_tipoMacchina:'',
        MAC_boolCamera: false,
        MAC_serialNumber: '',
        MAC_controlloNumerico: '',
        MAC_tipoControllo: '',
        MAC_soprannomeMacch: '',
        MAC_ipAdressCamera: '',
        MAC_portaCamera: '',
        MAC_comandoCamera: '',
        MAC_modeCamera: '',
        MAC_imagepath: "",
        MAC_userUsername: "",
        MAC_userPassword: "",
        MAC_pathshare: "",
        MAC_numeroAssi: "",
        reparti: [],
        selectedReparto: [],
        serial: "",
        urlImage: "",

        bool_isola: false,
        id_master: -1,
        perm: {
          view:false,
          change:false,
          add:false,
          delete:false
        },

        types:[],
        controlli:[],

        numberRule:[
          v => !!v || 'Value is required',
          v => v<10 || 'The value must be less than 10',
          v => v>0 || 'The value must be more than 0',
        ],
        nameRules: [
          v => !!v || 'Value is required',
          v => v.length <= 20 || 'The value must be less than 10 characters'
        ],
        tipoControlloRules: [
          v => !!v || 'Value is required',
          v => v.length <= 5 || 'The value must be less than 5 characters'
        ],
        ipAddressRules: [
          v => !!v || 'IP is required',
          v => /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(v) || 'Must be a valid IP'
        ],
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ],
        repartoRules: [
          v => !!v || 'Seleziona il reparto'
        ],
        dropzoneOptions: {
          url: 'http://127.0.0.1:8000/upload/',
          thumbnailWidth: 150,
          maxFilesize: 1.5,
          method: 'put',
          acceptedFiles: "image/jpeg,image/png,image/gif",
          addRemoveLinks: true,
          dictDefaultMessage: "<i aria-hidden=\"true\" class=\"material-icons icon\">backup</i>&nbsp;UPLOAD AN IMAGE",
          headers: {"Authorization": 'JWT ' + store.getters.getMyToken}
        }
      }
    ),
    watch: {
      assi_sel: function (val) {
        let assitot="";
        val.forEach(asse=>{
          assitot+=asse
        })
        console.log(assitot)
        this.assistring = assitot
        this.MAC_numeroAssi=val.length
      }
    },
    computed:{
      tipi_mac(){
        let arr=[];
        let vue = this;
        arr = vue.types.filter(function(tipo){
          return tipo.typ_controllonumerico == vue.MAC_controlloNumerico
        })
        if(arr.length==1) this.MAC_tipoMacchina=arr[0].typ_tipomacchina
        return arr
      },
      tipi_controllo(){
        let arr=[];
        let vue = this;
        arr = vue.types.filter(function(tipo){
          return (tipo.typ_controllonumerico == vue.MAC_controlloNumerico && tipo.typ_tipomacchina== vue.MAC_tipoMacchina)
        })
        if(arr.length==1) this.MAC_tipoControllo=arr[0].typ_tipocontrollo
        return arr
      },
      myurlImage: function(){
        return store.getters.mediapath+this.img.base64
      }
    },
    methods: {
      checklength(n, required=true){
        var ret= [ v => v.length <= n || 'The value must be less than '+n+' characters' ];
        if(required) ret.push(v => !!v || 'Value is required');
        return ret
      },
      closeDialog(){
        this.$router.push("/allmachine")
      },
      changeSelect(){
        if(this.selectedSerie!= null) {
          var self = this
          this.serieindex = _.findIndex(this.series, function (o) {
            return o.ser_id == self.selectedSerie;
          });
          this.currentSerie.id = this.selectedSerie
          globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
          globalAxios.all([
            globalAxios.get('/serie/'+this.currentSerie.id+"/" ),
          ]).then(globalAxios.spread((comps) => {
            this.componentiFromMachine =  _.differenceBy( this.componentiFromMachine , this.componentfromSeries , 'com_chiave')
            this.componentfromSeries = comps.data.comps
            this.componentiFromMachine = _.union(this.componentiFromMachine,this.componentfromSeries)

            console.log(this.componentfromSeries)
            // to do ricaricare i componenti e fare la differenza
            //this.componentidisponibil = _.differenceBy(this.componentidisponibil , this.componentiFromMachine, 'com_chiave')
            if(typeof (this.myid) != "undefined" ) {
              this.getComponent(this.myid)
            }
            else {
              this.getComponent(0,true)
            }
          })).catch(function(){
            console.log("An error as accured");
          })
          this.currentSerie.descrizione = this.series[this.serieindex].ser_nome
        }
      },
      fetchDataComponent(query) {
        globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
        let path = '/searchcomponents/'+query+'/'
        if(query=="")
          path = '/components/'
        globalAxios.all([
          globalAxios.get( path )
        ]).then( globalAxios.spread((res)=>{
          this.componentidisponibil = _.differenceBy( res.data , this.componentiFromMachine, 'com_chiave')
        })).catch(error=>{console.log(error)});
      },
      close() {
        this.mydialog = false
        this.componentiinstallati=[]
      },
      ok() {
        this.componentitosend = this.componentiinstallati
        this.mydialog = false
        if(this.selectedSerie) {
          if(this.selectedSerie>0){
            var self = this
            this.serieindex = _.findIndex(this.series, function (o) {
              return o.ser_id == self.selectedSerie;
            });
            console.log(this.series)
            this.currentSerie.id = this.series[this.serieindex].ser_id
            this.currentSerie.descrizione = this.series[this.serieindex].ser_nome
          }
        }
        console.log(this.serieindex)
      },
      openDialogSerie:function() {
        this.mydialog = true
        this.getComponent(0)
        if (this.myid !== undefined){
          if (this.myid > 0) {
            this.getComponent(this.myid)
            this.componentiinstallati = this.componentitosend
          }
        }
      },
      submit:function (event) {
        if(this.$refs.form.validate()){
          if (event) event.preventDefault()
          let currentAPICall = ""

          if(this.myid !== undefined ) {
            if (this.myid > 0) {
              currentAPICall = "/macchina/" + this.myid + "/"
            }
            else {
              currentAPICall = "/macchine/"
            }
          }
          else{
            currentAPICall = "/macchine/"
          }
          let myItemToSend = {}
          myItemToSend.MAC_nomeMacch =this.MAC_nomeMacch
          myItemToSend.MAC_ipAdress = this.MAC_ipAdress
          myItemToSend.MAC_ipAdress2=this.MAC_ipAdress2
          myItemToSend.MAC_boolCamera=this.MAC_boolCamera
          myItemToSend.MAC_serialNumber=this.MAC_serialNumber
          myItemToSend.MAC_controlloNumerico=this.MAC_controlloNumerico
          myItemToSend.MAC_tipoControllo=this.MAC_tipoControllo
          myItemToSend.MAC_tipoMacchina=this.MAC_tipoMacchina
          myItemToSend.MAC_soprannomeMacch= this.MAC_soprannomeMacch
          myItemToSend.MAC_ipAdressCamera=this.MAC_ipAdressCamera
          myItemToSend.MAC_portaCamera=this.MAC_portaCamera
          myItemToSend.MAC_comandoCamera=this.MAC_comandoCamera
          myItemToSend.MAC_modeCamera=this.MAC_modeCamera
          myItemToSend.MAC_userUsername=this.MAC_userUsername
          myItemToSend.MAC_userPassword=this.MAC_userPassword
          myItemToSend.MAC_pathshare=this.MAC_pathshare
          myItemToSend.MAC_numeroAssi=this.assi_sel.length;
          myItemToSend.MAC_assi=this.assistring;

          if(this.selectedReparto.length !=0 && this.selectedReparto!="" && this.selectedReparto != null)
            myItemToSend.MAC_reparto=this.selectedReparto
          else
            myItemToSend.MAC_reparto=null

          if(this.img.name != "")
            myItemToSend.MAC_imagepath = store.getters.mediapath+this.img.name
          myItemToSend.MAC_vs_ser = this.currentSerie.id
          myItemToSend.componenti = this.componentitosend
          //myItemToSend.MAC_reparto= this.selectedReparto[0]
          globalAxios.defaults.headers.common["Authorization"] = 'JWT '+store.getters.getMyToken
          globalAxios.post(currentAPICall, myItemToSend).then(res => {
            this.$router.push('/allmachine')
          }).catch(error=>{
            console.log(error)
          })
        }
      },
      clickRemoved(item){
        var index = this.componentiinstallati.indexOf(item);
        if (index > -1) {
          this.componentiinstallati.splice(index, 1);
        }
        this.getComponent(0,false)
      },
      pulledItem(to, fromx, aa, zzz, xxx ){
        return false
      },

      sendingEvent (file, xhr, formData) {
        console.log(file)
        console.log(xhr)
        console.log(formData)
      },
      uploaded (file, response) {
        this.urlImage = response.file
        this.img.name=response.name
        this.img.base64=response.file
      },
      clearAllData(){
        this.$refs.form.reset()
        this.MAC_nomeMacch = ''
        this.MAC_ipAdress =''
        this.MAC_ipAdress2 = ''
        this.MAC_boolCamera = false
        this.MAC_serialNumber =''
        this.MAC_controlloNumerico = ''
        this.MAC_tipoControllo=''
        this.MAC_soprannomeMacch = ''
        this.MAC_ipAdressCamera =''
        this.MAC_portaCamera=''
        this.MAC_comandoCamera=''
        this.MAC_modeCamera=''
        this.MAC_userUsername=''
        this.MAC_userPassword=''
        this.MAC_pathshare=''

        this.serial=""
        this.serie=[],
          this.serieindex=-1,
          this.series=[],

          this.selectedSerie=-1,
          ///  serie  da mandare in update e che verrà visualizzata
          this.currentSerie={
            id:0,
            descrizione:""
          },
          /// gestione dei componenti
          /// modalità precedente
          this.components=[],
          this.componentidisponibil=[],
          this.componentiinstallati=[],
          this.componentitosend=[]
      },
      getComponent(index, reloadcom=true) {
        globalAxios.defaults.headers.common["Authorization"] = 'JWT ' + store.getters.getMyToken
        let myLink=[]
        myLink.push('/components/')
        if(index!=0 && reloadcom)
          myLink.push('/components/'+index+'/serie/')
        globalAxios.all([
          globalAxios.get(...myLink),
        ]).then(globalAxios.spread((res, machineress) => {
          this.loading = false
          if(arguments.length == 2 && reloadcom ) {
            if (machineress == null) {
              this.componentiinstallati = []
            }
            else {
              this.componentiinstallati = machineress.data
            }
          }
          if(index==0 && reloadcom)
            this.componentiinstallati = []
          this.componentidisponibil = _.differenceBy( res.data , this.componentiFromMachine, 'com_chiave')
        })).catch(error => {
          console.log(error)
        })
      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .imgcontainer {
    background-color: #e1f5fe;
  }
  .componenti{
    padding: 10px;
  }
  .componenti .lista {
    margin-top:30px;
  }
  .disponibili {
    background-color: #e0e0e0;
  }
  .emptydrag {
    background-color: #E3F2FD;
    border: 2px dashed #e0e0e0;
  }
  .lista {
    max-height: 320px !important;
    overflow-y: auto;
  }
  .dz-preview{
    z-index:1 !important;
  }

</style>
