<template>
  <!--v-container fluid>
    <v-layout row wrap-->
      <ul class="treenav" v-if="isRoot" >
        <li>
          <div
            :class="{bold: isFolder }"
            @click="toggle($event, model.key)"
            @dblclick="changeType($event, model.key)"
            @contextmenu="rightClick($event, model)"
          >
            <v-icon>{{ model.icon }}</v-icon>
              {{ model.name }}
            <span  v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
          </div>
          <ul style="width: 100%;" v-show="open" v-if="isFolder" >
            <my-tree-component
              class="item"
              v-for="(model, index) in model.children"
              :key="index"
              v-bind:model="model"  @doubleclick="propagateDoubleclick" @toggle="propagateToggle" @rightclick="propagateContextMenu" >
            </my-tree-component>
          </ul>
        </li>
      </ul>
      <li  v-else>
          <div v-bind:style="mycolor" :class="{ bold: isFolder }" @click="toggle($event, model.key)" @dblclick="changeType($event, model.key)" @contextmenu="rightClick($event, model)" >
          <v-icon v-if="thereisIcon" medium left>{{ model.icon }}</v-icon>
          {{ model.name }}
          <span v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
          </div>
          <ul style="width: 100%;" class="treenav" v-show="open" v-if="isFolder">
            <my-tree-component
              class="item"
              v-for="(model, index) in model.children"
              :key="index"
              v-bind:model="model"  @doubleclick="propagateDoubleclick" @toggle="propagateToggle" @rightclick="propagateContextMenu" >
            </my-tree-component>
          </ul>
      </li>
      <!--/v-layout>
  </v-container-->
</template>
<script>
    export default {
        props: {
          model: Object
        },
        name: "MyTreeComponent",
        data: function () {
          return {
            open: false,
            mycurrentdata: this.model
          }
        },
        computed: {
          isFolder: function () {
            return this.model.children && this.model.children.length
          },
          isRoot: function () {
            return this.model.root != null && this.model.root
          },
          thereisIcon: function () {
            return this.model.icon != null
          },
          mycolor: function(){
            //console.log("AAA", this.model.color)
            if(this.mycurrentdata.color != null){
              return "background-color:"+this.mycurrentdata.color+";width:100%;"
            }
          }
        },
        watch: {
          mycurrentdata: function (newQuestion, oldQuestion) {
            console.log("changed")
          }
        },
        methods: {
          toggle: function (e, key) {
            //console.log("My key toggle", key)
            if (this.isFolder) {
              this.open = !this.open
              this.$emit("toggle", e, key)
            }
          },
          changeType: function (e,key) {
            //console.log("My key doubleclcik", key)
            this.$emit("doubleclick", e, key)
          },

          //solo il rightclick passa tutto l'oggetto cartella
          rightClick: function (e, key) {
            //console.log("My key rightclick", key)
            this.$emit("rightclick", e, key)
          },
          propagateToggle:  function(e, key){
            this.$emit("toggle",  e, key)
          },
          propagateDoubleclick: function(e, key){
            this.$emit("doubleclick",  e, key)
          },
          propagateContextMenu: function(e, key){
            //console.log("My key rightclick prevent defeault", key)
            e.preventDefault()
            this.$emit("rightclick",  e, key)
          }
          /*
          addChild: function () {
            this.$emit("addchild")
          }*/
        },
    }
</script>

<style scoped>
  .item {
    cursor: pointer;
  }
  .bold {
    font-weight: bold;
  }
  .treeElement {
    margin-top:2px;
    margin-bottom:2px;
  }
  ul {
    list-style: none;
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
  }
  .treenav{
    width: 100%;
  }
  .treenav li{
    width: 100%;
  }
  .treenav .container{
    margin-top:0px;
    margin-bottom:0px;
    padding: 10px;
  }

</style>
